<%- include('../include/_side_header', { title:title }) %>

<main>
  <article>
    <div class="inputcontainer">
      <div class="intbox">
      <div class="landing-text">
        <div>
          <h4
            class="landing-text__subtitle cgt-text-caption cgt-text-caption--dark-bg"
          >
Playsite store          </h4>
          <h1 class="cgt-heading-h2 cgt-heading--dark-bg landing-text__title">
            <strong>Search</strong> thousands of Apps, Games and Assets
          </h1>
          <p>
            Find  AR/VR, gaming, advertising, entertainment and 3D printing assets
          </p>
        </div>
      </div>
      <div class="input-box">
        <i class="bx bx-search"></i>
        <input type="text" id="input" placeholder="Search here..." />
        <button class="btn btn-primary button" onclick="searchClick()">
          Search
        </button>
      </div>
    </div>
    </div>

    <style>
      .main2 {
        padding: 0px;
      }
      .inputcontainer {
        background-image: url("https://picsum.photos/1920/1080");
        display: flex;
        position: relative;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        background-size: cover;
        background-repeat: no-repeat;
        background-color: rgba(30, 39, 50, 0.5);
        background-position: center;
        padding: 40px 20px;
        height: calc(40vh - 60px);
        max-height: 864px;
        border-radius: 10px;
      }
      #input {
        background-color: #181a1b;
      }
      .landing-text {
        color: #ffffff;
        padding-left: 15px;
        padding-bottom: 20px;
      }
    </style>
    <style>
      /* Google Fonts - Poppins */
      @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

      input {
        border-radius: 14px;
        background-color: #2e303e;
        color: var(--white);
      }

      input::placeholder {
        color: var(--white);
      }

      .input-box {
        margin-bottom: 31px;
        position: relative;
        height: 60px;
        /* max-width: 900px; */
        width: 100%;
        background: rgb(0, 0, 0, 0);
        border-radius: 40px;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
      }

      .input-box i,
      .input-box .button {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
      }

      .input-box i {
        left: 20px;
        font-size: 30px;
        color: var(--white);
      }

      .input-box input {
        height: 100%;
        width: 100%;
        outline: none;
        font-size: 18px;
        font-weight: 400;
        border: none;
        padding: 0 155px 0 65px;
        background-color: var(--icon-bg);
      }

      .input-box .button {
        right: 20px;
        font-size: 16px;
        font-weight: 600;
        /* color: #fff; */
        border: none;
        padding: 12px 30px;
        border-radius: 6px;
        /* background-color: #e2d703;  */

        cursor: pointer;
      }

      .input-box .button:active {
        transform: translateY(-50%) scale(0.98);
      }

      .input-box .button:hover {
        /* font-weight: 700; */
        scale: 1.02;
      }

      /* Responsive */
      @media screen and (max-width: 500px) {
        .input-box {
          height: 50px;
          margin: 0 8px;
          margin-bottom: 30px;
        }

        .input-box i {
          left: 12px;
          font-size: 25px;
        }

        .input-box input {
          padding: 0 112px 0 50px;
        }

        .input-box .button {
          right: 12px;
          font-size: 14px;
          padding: 8px 18px;
        }
      }
    </style>

    <script>
      // Execute a function when the user presses a key on the keyboard
      input.addEventListener("keypress", function (event) {
        // If the user presses the "Enter" key on the keyboard
        if (event.key === "Enter") {
          // Cancel the default action, if needed
          event.preventDefault();
          let input = document.querySelector("#input").value;
          window.location.href = "/search?id=" + input;
        }
      });

      searchClick = () => {
        let input = document.querySelector("#input").value;
        window.location.href = "/search?id=" + input;
      };
    </script>





<section class="upcoming ">
    <div class="container">
    <div class="flex-wrapper">
    <div class="title-wrapper">
    
    <h2 class="h2 section-title fontcolor"> Apps &amp; Games</h2>
    </div>
    <ul class="filter-list">
    <li>
    
    <button class="filter-btn">
    <a href="https://dev.playsite.store">
Games
    </a>
    </button>
    </li>
    <li>
    
    <button class="filter-btn">
    <a href="/search">
Apps
    </a>
    </button>
    </li>
    <li>
     
    <button class="filter-btn">
    <a href="/3d">
3D and AR
    </a>
    </button>
    </li>
    <li>
          <li>
     
    <button class="filter-btn">
    <a href="/3d">
Uploads
    </a>
    </button>
    </li>
    <li>
          <li>
     
    <button class="filter-btn">
    <a href="/3d">
Linux
    </a>
    </button>
    </li>
    <li>
          <li>
     
    <button class="filter-btn">
    <a href="/3d">
Android
    </a>
    </button>
    </li>
    <li>
          <li>
     
    <button class="filter-btn">
    <a href="/3d">
    3D and AR
    </a>
    </button>
    </li>
    <li>

    
    <a href="/all">
    <button class="filter-btn">
    ALL
    </button>
    </a>
    </li>
    </ul>
    </div>

    </div>
    </section>








    <ul class="movies-list">
      <% for(var i=0; i < data.length; i++) { %>

      <li>
        <div class="movie-card">
          <a href="/app/<%= data[i]._id %>">
            <figure class="card-banner">

            </figure>
          </a>

          <div class="title-wrapper">
            <a id="text" href="/app/<%= data[i]._id %>">
              <h3 class="card-title"><%=data[i].title%></h3>
            </a>

            <time datetime="2022">

            </time>
          </div>

          <div class="card-meta">
            <div class="duration"></div>

            <div class="rating">
              <ion-icon name="star"></ion-icon>

              <data>N/A</data>
            </div>
          </div>
        </div>
      </li>

      <% } %>
    </ul>
  


    <section class="upcoming ">
      <div class="container">
      <div class="flex-wrapper">
      <div class="title-wrapper">
      
      <h2 class="h2 section-title fontcolor"> List of other Websites</h2>
      </div>
      <ul class="filter-list">

    <li>
  
      
      <a href="/all">
      <button class="filter-btn">
      ALL
      </button>
      </a>
      </li>
      </ul>
      </div>
  
      </div>
      </section>
   <p id="p1" class="fontcolor">
    <% for(var i=0; i < allposts.length; i++) { %>
      <a href="https://www.playsite.store/<%=allposts[i]%>">
        https://www.playsite.store/<%=allposts[i]%>
      </a> <br />

      <% } %>

   </p>    
        
        <% for(var i=0; i < allposts.length; i++) { %>



        <!-- <li>
          <div class="movie-card">
            <a href="https://www.playsite.store/<%=allposts[i]%>">
              <figure class="card-banner">

              </figure>
            </a>
  
            <div class="title-wrapper">
              <a id="text" href="https://www.playsite.store/<%=allposts[i]%>">
                <h3 class="card-title"><%=allposts[i]%></h3>
              </a>
  
              <time datetime="2022">
  
              </time>
            </div>
  
            <div class="card-meta">
              <div class="duration"></div>

              <div class="rating">
                <ion-icon name="star"></ion-icon>
  
                <data>N/A</data>
              </div>
            </div>
          </div>
        </li> -->
  
        <% } %>

   </article>

</main>

<%- include('../include/_side_footer.ejs') %>








<style>
  .intbox{
    width: 100%;
  }
    @media (min-width: 1200px){
.movies-list {
    grid-template-columns: repeat(6, 1fr);
}
.intbox{
  padding: 105px;
}
    }
    @media (min-width: 992px){
.movies-list {
    grid-template-columns: repeat(5, 1fr);
}
.intbox{
  padding: 70px;
}

    }


    .movie-list{
        padding:10px
    }
    .movie-card .card-banner {
    aspect-ratio: 4 / 3;

}
</style>











<link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
 <link href="https://rawgit.com/shaneapen/Image-Preview-for-Links/master/image_preview_for_links.css" rel="stylesheet"> 
 <!-- MiniPreview stuff here -->
 <link href="./jquery.minipreview.css" rel="stylesheet">
 <script src="./jquery.minipreview.js"></script>
 <script type="text/javascript">
   $(function() {
     
               $('#p1 a').miniPreview({ prefetch: 'none' });
           });
 </script>
  <script src="https://rawgit.com/shaneapen/Image-Preview-for-Links/master/image_preview_for_links.js"></script>

