

  <% try{%>
    <% title = title%>
  <% }catch(error){%>
  <% title = "Playsite Store"%>
    <% }%>

  <% try{%>
    <% headimg = headimg %>
  <% }catch(error){%>
  <% headimg = "https://playsite.store/assets/images/meta.png" %>
    <% }%>

  <% try{%>
    <% headdesc = headdesc%>
  <% }catch(error){%>
  <% headdesc = "download from thousands of apps, games, digital assets"%>
    <% }%>

    <% try{%>
      <% headtags = headtags%>
    <% }catch(error){%>
    <% headtags = "Playsite Store official"%>
      <% }%>
<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Google tag (gtag.js) -->
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-8QBDWDHG3D"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-8QBDWDHG3D');
</script>












  
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta charset="utf-8" />
<link rel="canonical" href="https://dev.playsite.store/">
<meta name="theme-color" content="#0095b6" />
<meta property=“og:type” content=“website” />
<link rel="icon" type="image/x-icon" href="/assets/images/favicon.ico">
<link rel="manifest" href="www.playsite.store/manifest.json" />
<meta name="language" content="en" />
<meta name="twitter:card" content="playsite" />
<!-- <meta name="twitter:image" content="https://playsite.store/assets/images/logo-red.png" /> -->
<meta name="twitter:description" content="
Download from thousands of apps and games with playsite. or publish anything you can imagine with playsite for free. free game downloading website -playsite.store: try it for free
" />
<meta   name="twitter:title"  content="
PlaySite Store: Game Store, Web Host | Easy Setup | 3D model viewer | web tools
" />
<meta property="og:url" content="https://dev.playsite.store/" />
<meta property=“og:site_name” content="Playsite Store : Game store" />

<meta property=“og:image:alt” content="playsite" />
<meta property=“og:image:secure_url” content="https://playsite.store/assets/images/logo.png" />
<meta property=“og:image:type” content=“image/jpeg” />
<meta property=“og:locale” content=“en_GB” />





<meta property=“og:image” content="https://playsite.store/assets/images/logo.png" />
<meta name="description" content=" <%= headdesc %>" />
<meta property="og:title" content="Playsite store upload section" />
<meta property="og:description" content="<%= headdesc %>" />
<meta name="keywords" content="Upload files, Publish with playsite, playsite store<%= headtags %>" />
  <title>
Playsite store upload section
  </title>
















































  
  <link rel="icon" type="image/x-icon" href="/assets/images/favicon.ico">
  <link rel="stylesheet" href="/assets/css/mainb.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
  <link href="https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css" rel="stylesheet">
</head>

<body id="#top" class="shrink">

  <!-- Backdrop -->
  <div id="backdrop" class="backdrop" style="display: none"></div>

  
  <!-- 
    - #HEADER
  -->







  <!-- <div id="google_translate_element"></div> -->




<link rel="stylesheet" href="/assets/css/dark.css">

<script src="/assets/css/dark.js"></script>


  
<style>

    
  .headerheight{
    height: 56px;

  }


  @media screen and (min-width: 840px){
.headerheight {
  height: 64px;
}
  }


  @media (min-width: 992px){
.header.active {
  padding-block: 1px;
}}
.header.active{
  box-shadow: 0 1px 4px hsl(0deg 4% 15% / 10%);
padding-block: 0px;
}
.header{
padding-block: 5px;
}
</style>
























































<link rel="stylesheet" href="/assets/css/side.css">





<nav class="sidenav" style="z-index: 95; max-height: 100vh;">
  <div class="sidebar-top">
    <span class="shrink-btn">
      <i class='bx bx-chevron-left'></i>
    </span>
    <img src="/assets/images/logo.png" class="logo" alt="">
    <h3 class="hide">Playsite</h3>
  </div>
  

  <style>
    .extraspace{
      display: none;
    }
    @media (max-height: 700px) {
      .extraspace{
        margin-top: 10px;
      display: block;
    }
    .heightwala{
      display: none;
    }
      }
  
  
  </style>












  <div class="extraspace"></div>
  <div class="search heightwala">
    <a href="/search">
    <i class='bx bx-search'></i>
    <!-- <input type="text" class="hide" placeholder="Quick Search ..."> -->
  </a>
  </div>

  <div class="sidebar-links">
    <ul>
      <div class="active-tab"></div>
      <li class="tooltip-element" data-tooltip="0">
        <a href="/" class="active" data-active="0">
          <div class="icon">
            <i class='bx bx-tachometer'></i>
            <i class='bx bxs-tachometer'></i>
          </div>
          <span class="link hide">HOME</span>
        </a>
      </li>
      <li class="tooltip-element" data-tooltip="1">
        <a href="/dashboard/add-post" data-active="1">
          <div class="icon">
            <i class='bx bx-message-square-add'></i>
            <i class='bx bxs-message-square-add'></i>
          </div>
          <span class="link hide">Add App</span>
        </a>
      </li>
      <li class="tooltip-element" data-tooltip="2">
        <a href="/faq" data-active="2">
          <div class="icon">
            <i class='bx bx-pencil'></i>
            <i class='bx bxs-pencil'></i>
          </div>
          <span class="link hide">Tutorials</span>
        </a>
      </li>
      <li class="tooltip-element" data-tooltip="3">
        <a href="/analytics" data-active="3">
          <div class="icon">
            <i class='bx bx-bar-chart-square'></i>
            <i class='bx bxs-bar-chart-square'></i>
          </div>
          <span class="link hide">Analytics</span>
        </a>
      </li>
      <div class="tooltip">
        <span class="show">HOME</span>
        <span>Add App</span>
        <span>Learn</span>
        <span>Analytics</span>
      </div>
    </ul>

    <h4 class="hide">Shortcuts</h4>

    <ul>
      <li class="tooltip-element" data-tooltip="0">
        <a href="/all" data-active="4">
          <div class="icon">
            <i class='bx bx-analyse'></i>
            <i class='bx bxs-analyse'></i>
          </div>
          <span class="link hide">all tools</span>
        </a>
      </li>
      <li class="tooltip-element" data-tooltip="1">
        <a href="#" data-active="5" class="theme-toggle" id="" title="Toggles light & dark">
          <div class="icon">
           
            <!-- <button class="theme-toggle" id="" title="Toggles light & dark" >   -->
              <i class='bx bx-sun'></i>
              
              <i class='bx bxs-sun '></i>
            <!-- </button> -->
    
          </div>
          <span class="link hide">theme</span>
        </a>
      </li>
      
      <li class="tooltip-element" data-tooltip="2">
        <a href="https://www.playsite.store" data-active="6">
          <div class="icon">
            <i class='bx bx-game' ></i>
            <i class='bx bxs-game' ></i>
          </div>
          <span class="link hide">main</span>
        </a>
      </li>
      <div class="tooltip">
        <span class="show">all tools</span>
        <span>theme</span>
        <span>main website</span>
      </div>
    </ul>
  </div>



  <div class="sidebar-footer">

<% if(user.name != "user"){ %>
  <a href="/store/<%= user.name %>" class="account tooltip-element" data-tooltip="0">
    <i class='bx bx-user'></i>
  </a>
  <% }else{ %>
    <a href="/auth" class="account tooltip-element" data-tooltip="0">
      <i class='bx bx-user'></i>
    </a>
    <% }%>
    

    <div class="admin-user tooltip-element" data-tooltip="1">
      <div class="admin-profile hide">
        <img src="/assets/images/face-1.png" alt="">
        <div class="admin-info">
          <h3><%= user.name %></h3>
          <h5>Admin</h5>
        </div>
      </div>



  
      <a href="/editaccount" class="log-out">
        <i class='bx bx-pencil' ></i>
      </a>
    </div>
    <div class="tooltip">
      <span class="show"><%= user.name %></span>
      <span>Edit Account</span>
    </div>
  </div>
</nav>

<header class="header topnav active" data-header="">
  <div class="container headerheight">

    <div class="overlay" data-overlay=""></div>

    <a href="/" class="logo">
      <div class="footer-logo">
        
        <img src="/assets/images/logo-red.png" class="logofooter" alt="" style="
        width: 2.4rem;
    ">
        <h3 class="fontcolor" style="
        font-size: 25px;
    ">Playsite</h3>
      </div>
    </a>

    <div class="header-actions">

      <button class="search-btn">
        <a href="/search">
        <ion-icon name="search-outline" role="img" class="md hydrated" aria-label="search outline"></ion-icon>
      </a>
      </button>


      

      <div class="lang-wrapper">
        <label for="theme">
          <i class="bx bx-sun"></i>
              
          <i class="bx bxs-sun "></i>
       

        </label>
     
 
      </div>
 








      <script src="https://code.iconify.design/iconify-icon/1.0.2/iconify-icon.min.js"></script>











      <button class="btn btn-primary">
        <a href="http://dev.playsite.store">
       Upload
      </a>
      </button>

    </div>
      <div id="search-span" style="
      column-gap: 1rem;
  ">  

    </button> 
    <button class="theme-toggle search-bt" id="theme-toggle" title="Toggles light &amp; dark" aria-label="auto" aria-live="polite">
<ion-icon class="fontcolor" name="sunny-outline" role="img" class="md hydrated" aria-label="sunny outline"></ion-icon>
              
<!-- <i class='bx bxs-sun '></i> -->
    </button>

 


    <button class="menu-open-btn search-bt" data-menu-open-btn="">
      <ion-icon class="fontcolor"  name="grid-outline" role="img" class="md hydrated" aria-label="grid outline"></ion-icon>
    </button>
    </div> 
  <style>
  
    @media (min-width: 768px) {


      .search-bt{
        display: none;
      }
    }
      .search-bt{
        color: var(--white);
        /* font-size: 30px; */
        font-size: 1.25rem;
      }
      #search-span{
        display: block;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
      }
    </style>








    <nav class="navbar" data-navbar="">

      <div class="navbar-top">

        <a href="/" class="logo">
          <div class="footer-logo">
        
            <img src="/assets/images/logo-red.png" class="logofooter" alt="" style="
            width: 2.4rem;
        ">
            <h3 class="fontcolor" style="
            font-size: 25px;
        ">Playsite</h3>
          </div>
        </a>

        <button class="menu-close-btn" data-menu-close-btn="">
          <ion-icon name="close-outline" role="img" class="md hydrated" aria-label="close outline"></ion-icon>
        </button>

      </div>

      <ul class="navbar-list">

        <li>
          <a href="/" class="navbar-link">Home</a>
        </li>

        <li>
          <a href="#" class="navbar-link">Games</a>
        </li>

        <li>
          <a href="#" class="navbar-link">Apps</a>
        </li>

        <!-- <li>
          <a href="#" class="navbar-link">Software</a>
        </li> -->

        <li>
          <a href="#" class="navbar-link">Browse</a>
        </li>
        <li>
     
        </li>
        <li>
          <a href="http://dev.playsite.store" class="navbar-link">UPLOAD</a>
        </li>
      </ul>

      <ul class="navbar-social-list">

        <li>
          <a href="#" class="navbar-social-link">
            <ion-icon name="logo-twitter" role="img" class="md hydrated" aria-label="logo twitter"></ion-icon>
          </a>
        </li>

        <li>
          <a href="#" class="navbar-social-link">
            <ion-icon name="logo-facebook" role="img" class="md hydrated" aria-label="logo facebook"></ion-icon>
          </a>
        </li>

        <li>
          <a href="#" class="navbar-social-link">
            <ion-icon name="logo-pinterest" role="img" class="md hydrated" aria-label="logo pinterest"></ion-icon>
          </a>
        </li>

        <li>
          <a href="#" class="navbar-social-link">
            <ion-icon name="logo-instagram" role="img" class="md hydrated" aria-label="logo instagram"></ion-icon>
          </a>
        </li>

        <li>
          <a href="#" class="navbar-social-link">
            <ion-icon name="logo-youtube" role="img" class="md hydrated" aria-label="logo youtube"></ion-icon>
          </a>
        </li>

      </ul>

    </nav>

  </div>
</header>


<span class="main2">


  <style>

.topnav{
      display: none;
      --size :0px;
    }

@media (max-width: 550px) {
  .topnav{
      display: block;
    }
  .sidenav{
    display: none;
  }
  .main2 {
  width: 100%;
  padding: 0rem;
}
}



  </style>