<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/css/themes/splide-default.min.css">







<section class="splide" id="main-slider" aria-label="Splide Basic HTML Example">
	<div class="splide__track">
		  <ul class="splide__list">

        <% for(var i=0; i < data.heroImages.length; i++) { %>
          <li class="splide__slide">
              <img 
                class="slider-image"
                alt="slider<%= i %>"
                src="<%= data.url%><%= data.heroImages[i] %>"
                style="user-select: auto"
              />
      
          </li>
          <% } %>
		  </ul>
	</div>
  </section>
  <section class="splide" id="thumbnail-slider" aria-label="Splide Basic HTML Example">
	<div class="splide__track">
		  <ul class="splide__list">
        <% for(var i=0; i < data.heroImages.length; i++) { %>
          <li class="splide__slide">
            <img
              alt="slider <%= i %>"
              src="<%= data.url%><%= data.heroImages[i] %>"
              style="user-select: auto"
            />
          </li>
      
          <% } %>


		  </ul>
	</div>
  </section>







<script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/js/splide.min.js"></script>
<script>


var main = new Splide( '#main-slider', {
  type       : 'fade',
  heightRatio: 0.5,
  pagination : false,
  arrows     : false,
  cover      : true,
} );

var thumbnails = new Splide( '#thumbnail-slider', {
  rewind          : true,
  fixedWidth      : 104,
  fixedHeight     : 58,
  isNavigation    : true,
  gap             : 10,
  focus           : 'center',
  pagination      : false,
  cover           : true,
  dragMinThreshold: {
    mouse: 4,
    touch: 10,
  },
  breakpoints : {
    640: {
      fixedWidth  : 66,
      fixedHeight : 38,
    },
  },
} );

main.sync( thumbnails );
main.mount();
thumbnails.mount();
  </script>