




<% headdesc = (data.aboutGame+  "   download from thousands of Apps, Games, Assets, Books and many more now with playsite").substring(0, 159) %>
<%- include('include/_side_header', {title: data.title ,headdesc: headdesc,headimg : data.url + data.logo,headtags:data.title}); %>
<%- include('include/_app_header'); %>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/css/themes/splide-default.min.css">





































































<div class="App fontcolor" style="user-select: auto">
  <div class="gamePage_main__2wDu0" style="user-select: auto">
    <div class="gamePage_gamePage_container__9rIHH" style="user-select: auto">
      <div class="gameCard_main__1lab0" style="user-select: auto">
        <p class="gameCard_heading__1G4Br " style="user-select: auto; font: size 50px;">
          <h1 class="h1 detail-title main-title">
            <%= data.title %> <strong>!</strong>
          </h1>
          <div class="meta-wrapper ">

            <div class="badge-wrapper main-title">
              <div class="badge badge-fill"><%=data.platform%> <%
                if(data.platform == "windows"){
                  %> <i class='bx bxl-windows'></i><%
                }else if(data.platform == "Mac"){
                  %><i class='bx bxl-apple' ></i><%
                }else if(data.platform == "Android"){
                  %><i class='bx bxl-android' ></i><%
                }else if(data.platform == "IOS"){
                  %><i class='bx bxl-apple' ></i><%
                }else if(data.platform == "LINUX"){
                  %><i class='bx bxs-cube'></i><%
                }else if(data.platform == "files"){
                  %><i class='bx bx-file'></i><%
                }


                %></div>

              <!-- <div class="badge badge-outline">HD</div>
            </div> -->

            <div class="ganre-wrapper">
          

              <% if(data.filetype){%>

              FileType: <%= data.filetype %>
              <%}%>

            </div>

            <div class="date-time">

              <div>
            
                
                <!-- <ion-icon name="calendar-outline"></ion-icon> -->

                <!-- <time datetime="2021"> <%= data.date.getDate() %>-<%=  data.date.getMonth()+1%>- <%=  data.date.getYear() - 100%></time> -->
              </div>


            </div>

          </div>

        </p>
        <div class="gameCard_container__2pPRo" style="user-select: auto">
          <div class="gameCard_card__azoyL" style="user-select: auto">
            <div style="user-select: auto">
              <div class="carousel-root" style="user-select: auto">
                <div
                  class="carousel carousel-slider"
                  style="width: 100%; user-select: auto"
                >
                  <ul class="control-dots" style="user-select: auto">
                    <li
                      class="dot"
                      value="0"
                      role="button"
                      tabindex="0"
                      aria-label="slide item 1"
                      style="user-select: auto"
                    ></li>
                    <li
                      class="dot"
                      value="1"
                      role="button"
                      tabindex="0"
                      aria-label="slide item 2"
                      style="user-select: auto"
                    ></li>
                    <li
                      class="dot"
                      value="2"
                      role="button"
                      tabindex="0"
                      aria-label="slide item 3"
                      style="user-select: auto"
                    ></li>
                    <li
                      class="dot"
                      value="3"
                      role="button"
                      tabindex="0"
                      aria-label="slide item 4"
                      style="user-select: auto"
                    ></li>
                    <li
                      class="dot selected"
                      value="4"
                      role="button"
                      tabindex="0"
                      aria-label="slide item 5"
                      style="user-select: auto"
                    ></li>
                  </ul>
                  <button
                    type="button"
                    aria-label="previous slide / item"
                    class="control-arrow control-prev"
                 
                    style="user-select: auto"
                  ></button>
                  <div
                    class="slider-wrapper axis-horizontal"
                    style="user-select: auto"
                  >
        
<section class="splide" id="main-slider" aria-label="Splide Basic HTML Example">
	<div class="splide__track">
		  <ul class="splide__list">

        <% for(var i=0; i < data.heroImages.length; i++) { %>
          <li class="splide__slide">
              <img 
                class="slider-image corousel"
                alt="slider<%= i %>"
                src="<%= data.url%><%= data.heroImages[i] %>"
                style="user-select: auto"
              />
      
          </li>
          <% } %>
		  </ul>
	</div>
  </section>
                  </div>
                  <button
                    type="button"
                    aria-label="next slide / item"
                    class="control-arrow control-next control-disabled"
                    style="user-select: auto"
                  ></button>
                </div>
                <div class="carousel" style="user-select: auto">
                  <section class="splide" id="thumbnail-slider" aria-label="Splide Basic HTML Example">
                    <div class="splide__track">
                        <ul class="splide__list">
                          <% for(var i=0; i < data.heroImages.length; i++) { %>
                            <li class="splide__slide">
                              <img class="corousel"
                                alt="slider <%= i %>"
                                src="<%= data.url%><%= data.heroImages[i] %>"
                                style="user-select: auto"
                              />
                            </li>
                        
                            <% } %>
                  
                  
                        </ul>
                    </div>
                    </section>
                </div>
              </div>
            </div>
            <div style="user-select: auto">
             
              <p class="gameCard_description__2JFej" style="user-select: auto">
          <!-- <span>   About <strong>!</strong></span> -->
               
               
                <!-- <%= data.description %> -->
              </p>
            </div>
       
            <div class="gameCard_about_div__295MZ" style="user-select: auto">
              <p class="gameCard_game_heading__lYX2- about fontcolor" style="user-select: auto">
                 About Game <strong>!</strong>
              </p>
              <div class="gameCard_about_game__21p--" style="user-select: auto">
                <p class="space fontcolor" style="user-select: auto "><%= data.aboutGame %></p>
              </div>
              <div style="user-select: auto">
                <p
                  class="gameCard_game_heading__lYX2-"
                  style="user-select: auto"
                >
                  <!-- Features <strong>!</strong> -->
                </p>
                <div
                  class="gameCard_game_features__Ft4E3"
                  style="user-select: auto"
                >
                <!-- <%= data.gameFeatures %> -->
                </div>

                <figure class="c" >
                  <!-- <% if( data.downloadLink && data.filetype=="pdf"){ %>
                    <%- include('include/_app_pdf',{url:data.downloadLink}); %>

                    <% }  %> -->
                  


                  <%- include('include/_app_reaction',{data:data.rates, id:data.id}); %>


           
           

                  <%if(data.ytLink){ params   = new URL(data.ytLink).searchParams}%>
      
                  <% if(data.ytLink){ %>
                    <div class="container">
                    <iframe class="responsive-iframe" src="https://www.youtube.com/embed/<%=params.get('v')%>" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                  </div>
                  <% } else{ %>  
                    <p class="section-subtitle">no video availabe !</p>
                 <% } %>
      
                        </figure>
              </div>
            </div>
            <!-- <div class="gameCard_about_images__3sALI" style="user-select: auto">
              <div class="gameCard_images_div__knbI-" style="user-select: auto">
                <img
                  src="<%= data.images[0] %>"
                  alt="images"
                  style="user-select: auto"
                /><img
                  src="<%= data.images[1] %>"
                  alt=""
                  style="user-select: auto"
                />
              </div>
              <img
                src="<%= data.images[2] %>"
                alt=""
                style="user-select: auto"
              />
              <div class="gameCard_images_div__knbI-" style="user-select: auto">
                <img
                  src="<%= data.images[3] %>"
                  alt=""
                  style="user-select: auto"
                /><img
                  src="<%= data.images[4] %>"
                  alt=""
                  style="user-select: auto"
                />
              </div>
            </div> -->
            <!-- <div class="gameCard_links__3XGzI" style="user-select: auto">
              <div class="linksCard_main__PxPKx" style="user-select: auto">
                <div class="linksCard_icon__22ALu" style="user-select: auto">
                  <svg
                    stroke="currentColor"
                    fill="currentColor"
                    stroke-width="0"
                    viewBox="0 0 640 512"
                    height="1em"
                    width="1em"
                    xmlns="http://www.w3.org/2000/svg"
                    data-darkreader-inline-fill=""
                    data-darkreader-inline-stroke=""
                    style="
                      --darkreader-inline-fill: currentColor;
                      --darkreader-inline-stroke: currentColor;
                      user-select: auto;
                    "
                  >
                    <path
                      d="M524.531,69.836a1.5,1.5,0,0,0-.764-.7A485.065,485.065,0,0,0,404.081,32.03a1.816,1.816,0,0,0-1.923.91,337.461,337.461,0,0,0-14.9,30.6,447.848,447.848,0,0,0-134.426,0,309.541,309.541,0,0,0-15.135-30.6,1.89,1.89,0,0,0-1.924-.91A483.689,483.689,0,0,0,116.085,69.137a1.712,1.712,0,0,0-.788.676C39.068,183.651,18.186,294.69,28.43,404.354a2.016,2.016,0,0,0,.765,1.375A487.666,487.666,0,0,0,176.02,479.918a1.9,1.9,0,0,0,2.063-.676A348.2,348.2,0,0,0,208.12,430.4a1.86,1.86,0,0,0-1.019-2.588,321.173,321.173,0,0,1-45.868-21.853,1.885,1.885,0,0,1-.185-3.126c3.082-2.309,6.166-4.711,9.109-7.137a1.819,1.819,0,0,1,1.9-.256c96.229,43.917,200.41,43.917,295.5,0a1.812,1.812,0,0,1,1.924.233c2.944,2.426,6.027,4.851,9.132,7.16a1.884,1.884,0,0,1-.162,3.126,301.407,301.407,0,0,1-45.89,21.83,1.875,1.875,0,0,0-1,2.611,391.055,391.055,0,0,0,30.014,48.815,1.864,1.864,0,0,0,2.063.7A486.048,486.048,0,0,0,610.7,405.729a1.882,1.882,0,0,0,.765-1.352C623.729,277.594,590.933,167.465,524.531,69.836ZM222.491,337.58c-28.972,0-52.844-26.587-52.844-59.239S193.056,219.1,222.491,219.1c29.665,0,53.306,26.82,52.843,59.239C275.334,310.993,251.924,337.58,222.491,337.58Zm195.38,0c-28.971,0-52.843-26.587-52.843-59.239S388.437,219.1,417.871,219.1c29.667,0,53.307,26.82,52.844,59.239C470.715,310.993,447.538,337.58,417.871,337.58Z"
                      style="user-select: auto"
                    ></path>
                  </svg>
                </div>
                <div class="linksCard_icon__22ALu" style="user-select: auto">
                  <svg
                    stroke="currentColor"
                    fill="currentColor"
                    stroke-width="0"
                    viewBox="0 0 448 512"
                    height="1em"
                    width="1em"
                    xmlns="http://www.w3.org/2000/svg"
                    data-darkreader-inline-fill=""
                    data-darkreader-inline-stroke=""
                    style="
                      --darkreader-inline-fill: currentColor;
                      --darkreader-inline-stroke: currentColor;
                      user-select: auto;
                    "
                  >
                    <path
                      d="M400 32H48A48 48 0 0 0 0 80v352a48 48 0 0 0 48 48h137.25V327.69h-63V256h63v-54.64c0-62.15 37-96.48 93.67-96.48 27.14 0 55.52 4.84 55.52 4.84v61h-31.27c-30.81 0-40.42 19.12-40.42 38.73V256h68.78l-11 71.69h-57.78V480H400a48 48 0 0 0 48-48V80a48 48 0 0 0-48-48z"
                      style="user-select: auto"
                    ></path>
                  </svg>
                </div>
                <div class="linksCard_icon__22ALu" style="user-select: auto">
                  <svg
                    stroke="currentColor"
                    fill="currentColor"
                    stroke-width="0"
                    viewBox="0 0 496 512"
                    height="1em"
                    width="1em"
                    xmlns="http://www.w3.org/2000/svg"
                    data-darkreader-inline-fill=""
                    data-darkreader-inline-stroke=""
                    style="
                      --darkreader-inline-fill: currentColor;
                      --darkreader-inline-stroke: currentColor;
                      user-select: auto;
                    "
                  >
                    <path
                      d="M248 8C111.03 8 0 119.03 0 256s111.03 248 248 248 248-111.03 248-248S384.97 8 248 8zm-11.34 240.23c-2.89 4.82-8.1 7.77-13.72 7.77h-.31c-4.24 0-8.31 1.69-11.31 4.69l-5.66 5.66c-3.12 3.12-3.12 8.19 0 11.31l5.66 5.66c3 3 4.69 7.07 4.69 11.31V304c0 8.84-7.16 16-16 16h-6.11c-6.06 0-11.6-3.42-14.31-8.85l-22.62-45.23c-2.44-4.88-8.95-5.94-12.81-2.08l-19.47 19.46c-3 3-7.07 4.69-11.31 4.69H50.81C49.12 277.55 48 266.92 48 256c0-110.28 89.72-200 200-200 21.51 0 42.2 3.51 61.63 9.82l-50.16 38.53c-5.11 3.41-4.63 11.06.86 13.81l10.83 5.41c5.42 2.71 8.84 8.25 8.84 14.31V216c0 4.42-3.58 8-8 8h-3.06c-3.03 0-5.8-1.71-7.15-4.42-1.56-3.12-5.96-3.29-7.76-.3l-17.37 28.95zM408 358.43c0 4.24-1.69 8.31-4.69 11.31l-9.57 9.57c-3 3-7.07 4.69-11.31 4.69h-15.16c-4.24 0-8.31-1.69-11.31-4.69l-13.01-13.01a26.767 26.767 0 0 0-25.42-7.04l-21.27 5.32c-1.27.32-2.57.48-3.88.48h-10.34c-4.24 0-8.31-1.69-11.31-4.69l-11.91-11.91a8.008 8.008 0 0 1-2.34-5.66v-10.2c0-3.27 1.99-6.21 5.03-7.43l39.34-15.74c1.98-.79 3.86-1.82 5.59-3.05l23.71-16.89a7.978 7.978 0 0 1 4.64-1.48h12.09c3.23 0 6.15 1.94 7.39 4.93l5.35 12.85a4 4 0 0 0 3.69 2.46h3.8c1.78 0 3.35-1.18 3.84-2.88l4.2-14.47c.5-1.71 2.06-2.88 3.84-2.88h6.06c2.21 0 4 1.79 4 4v12.93c0 2.12.84 4.16 2.34 5.66l11.91 11.91c3 3 4.69 7.07 4.69 11.31v24.6z"
                      style="user-select: auto"
                    ></path>
                  </svg>
                </div>
                <div class="linksCard_icon__22ALu" style="user-select: auto">
                  <svg
                    stroke="currentColor"
                    fill="currentColor"
                    stroke-width="0"
                    viewBox="0 0 448 512"
                    height="1em"
                    width="1em"
                    xmlns="http://www.w3.org/2000/svg"
                    data-darkreader-inline-fill=""
                    data-darkreader-inline-stroke=""
                    style="
                      --darkreader-inline-fill: currentColor;
                      --darkreader-inline-stroke: currentColor;
                      user-select: auto;
                    "
                  >
                    <path
                      d="M224.1 141c-63.6 0-114.9 51.3-114.9 114.9s51.3 114.9 114.9 114.9S339 319.5 339 255.9 287.7 141 224.1 141zm0 189.6c-41.1 0-74.7-33.5-74.7-74.7s33.5-74.7 74.7-74.7 74.7 33.5 74.7 74.7-33.6 74.7-74.7 74.7zm146.4-194.3c0 14.9-12 26.8-26.8 26.8-14.9 0-26.8-12-26.8-26.8s12-26.8 26.8-26.8 26.8 12 26.8 26.8zm76.1 27.2c-1.7-35.9-9.9-67.7-36.2-93.9-26.2-26.2-58-34.4-93.9-36.2-37-2.1-147.9-2.1-184.9 0-35.8 1.7-67.6 9.9-93.9 36.1s-34.4 58-36.2 93.9c-2.1 37-2.1 147.9 0 184.9 1.7 35.9 9.9 67.7 36.2 93.9s58 34.4 93.9 36.2c37 2.1 147.9 2.1 184.9 0 35.9-1.7 67.7-9.9 93.9-36.2 26.2-26.2 34.4-58 36.2-93.9 2.1-37 2.1-147.8 0-184.8zM398.8 388c-7.8 19.6-22.9 34.7-42.6 42.6-29.5 11.7-99.5 9-132.1 9s-102.7 2.6-132.1-9c-19.6-7.8-34.7-22.9-42.6-42.6-11.7-29.5-9-99.5-9-132.1s-2.6-102.7 9-132.1c7.8-19.6 22.9-34.7 42.6-42.6 29.5-11.7 99.5-9 132.1-9s102.7-2.6 132.1 9c19.6 7.8 34.7 22.9 42.6 42.6 11.7 29.5 9 99.5 9 132.1s2.7 102.7-9 132.1z"
                      style="user-select: auto"
                    ></path>
                  </svg>
                </div>
                <div class="linksCard_icon__22ALu" style="user-select: auto">
                  <svg
                    stroke="currentColor"
                    fill="currentColor"
                    stroke-width="0"
                    viewBox="0 0 512 512"
                    height="1em"
                    width="1em"
                    xmlns="http://www.w3.org/2000/svg"
                    data-darkreader-inline-fill=""
                    data-darkreader-inline-stroke=""
                    style="
                      --darkreader-inline-fill: currentColor;
                      --darkreader-inline-stroke: currentColor;
                      user-select: auto;
                    "
                  >
                    <path
                      d="M459.37 151.716c.325 4.548.325 9.097.325 13.645 0 138.72-105.583 298.558-298.558 298.558-59.452 0-114.68-17.219-161.137-47.106 8.447.974 16.568 1.299 25.34 1.299 49.055 0 94.213-16.568 130.274-44.832-46.132-.975-84.792-31.188-98.112-72.772 6.498.974 12.995 1.624 19.818 1.624 9.421 0 18.843-1.3 27.614-3.573-48.081-9.747-84.143-51.98-84.143-102.985v-1.299c13.969 7.797 30.214 12.67 47.431 13.319-28.264-18.843-46.781-51.005-46.781-87.391 0-19.492 5.197-37.36 14.294-52.954 51.655 63.675 129.3 105.258 216.365 109.807-1.624-7.797-2.599-15.918-2.599-24.04 0-57.828 46.782-104.934 104.934-104.934 30.213 0 57.502 12.67 76.67 33.137 23.715-4.548 46.456-13.32 66.599-25.34-7.798 24.366-24.366 44.833-46.132 57.827 21.117-2.273 41.584-8.122 60.426-16.243-14.292 20.791-32.161 39.308-52.628 54.253z"
                      style="user-select: auto"
                    ></path>
                  </svg>
                </div>
                <div class="linksCard_icon__22ALu" style="user-select: auto">
                  <svg
                    stroke="currentColor"
                    fill="currentColor"
                    stroke-width="0"
                    viewBox="0 0 576 512"
                    height="1em"
                    width="1em"
                    xmlns="http://www.w3.org/2000/svg"
                    data-darkreader-inline-fill=""
                    data-darkreader-inline-stroke=""
                    style="
                      --darkreader-inline-fill: currentColor;
                      --darkreader-inline-stroke: currentColor;
                      user-select: auto;
                    "
                  >
                    <path
                      d="M549.655 124.083c-6.281-23.65-24.787-42.276-48.284-48.597C458.781 64 288 64 288 64S117.22 64 74.629 75.486c-23.497 6.322-42.003 24.947-48.284 48.597-11.412 42.867-11.412 132.305-11.412 132.305s0 89.438 11.412 132.305c6.281 23.65 24.787 41.5 48.284 47.821C117.22 448 288 448 288 448s170.78 0 213.371-11.486c23.497-6.321 42.003-24.171 48.284-47.821 11.412-42.867 11.412-132.305 11.412-132.305s0-89.438-11.412-132.305zm-317.51 213.508V175.185l142.739 81.205-142.739 81.201z"
                      style="user-select: auto"
                    ></path>
                  </svg>
                </div>
              </div>
            </div> -->
            <!-- <div class="gameCard_reviews__3PRsr" style="user-select: auto">
              <div style="user-select: auto">
                <p style="user-select: auto">Ratings</p>
                <div
                  class="reviewCardContainer_container__33KX3"
                  style="user-select: auto"
                >
                  <% for(var i=0; i < data.reviews.length; i++) { %>

                  <div
                    class="reviewCardContainer_card__3xwWE"
                    style="user-select: auto"
                  >
                    <div
                      class="reviewcard_main__2nzsE"
                      style="user-select: auto"
                    >
                      <div
                        class="reviewcard_name_div__3ougi"
                        style="user-select: auto"
                      >
                        <p style="user-select: auto">
                          <%= data.reviews[i].organisation %>
                        </p>
                        <p
                          class="reviewcard_author__2JxJJ"
                          style="user-select: auto"
                        >
                          <%= data.reviews[i].author %>
                        </p>
                      </div>
                      <div
                        class="reviewcard_content__3MCK2"
                        style="user-select: auto"
                      >
                        <div style="user-select: auto">
                          <p style="user-select: auto">
                            <%= data.reviews[i].rating %> / 10
                          </p>
                          <p
                            class="reviewcard_description__3cP0c"
                            style="user-select: auto"
                          >
                            <%= data.reviews[i].description %>
                          </p>
                        </div>
                        <div
                          class="reviewcard_reviewlink__2jpbs"
                          style="user-select: auto"
                        >
                          <a
                            href="<%= data.reviews[i].link %>"
                            style="user-select: auto"
                            >Read All Reviews</a
                          ><svg
                            stroke="currentColor"
                            fill="currentColor"
                            stroke-width="0"
                            viewBox="0 0 24 24"
                            height="1em"
                            width="1em"
                            xmlns="http://www.w3.org/2000/svg"
                            data-darkreader-inline-fill=""
                            data-darkreader-inline-stroke=""
                            style="
                              --darkreader-inline-fill: currentColor;
                              --darkreader-inline-stroke: currentColor;
                              user-select: auto;
                            "
                          >
                            <path
                              d="m13 3 3.293 3.293-7 7 1.414 1.414 7-7L21 11V3z"
                              style="user-select: auto"
                            ></path>
                            <path
                              d="M19 19H5V5h7l-2-2H5c-1.103 0-2 .897-2 2v14c0 1.103.897 2 2 2h14c1.103 0 2-.897 2-2v-5l-2-2v7z"
                              style="user-select: auto"
                            ></path>
                          </svg>
                        </div>
                      </div>
                    </div>
                  </div>
                  <% } %>
                </div>
              </div>
            </div> -->
            <!-- <div
              class="gameCard_specifications__3lz5x"
              style="user-select: auto"
            >
              <div class="specifications_main__1jmWs" style="user-select: auto">
                <div
                  class="specifications_heading__2azHT"
                  style="user-select: auto"
                >
                  <p
                    class="specifications_text__1w0RE"
                    style="user-select: auto"
                  >
                    Windows
                  </p>
                </div>
                <div
                  class="specifications_content__3Ot25"
                  style="user-select: auto"
                >
                  <div
                    class="specifications_minimum__1ke1U"
                    style="user-select: auto"
                  >
                    <p
                      class="specifications_details_heading__2vCTB"
                      style="user-select: auto"
                    >
                      Minimum
                    </p>
                    <div style="user-select: auto">
                      <p
                        class="specifications_content_title__AIHkZ"
                        style="user-select: auto"
                      >
                        OS
                      </p>
                      <p style="user-select: auto">64-bit Windows 10</p>
                    </div>
                    <div style="user-select: auto">
                      <p
                        class="specifications_content_title__AIHkZ"
                        style="user-select: auto"
                      >
                        Processor
                      </p>
                      <p style="user-select: auto">
                        AMD Ryzen 5 1600, Core i5 6600K
                      </p>
                    </div>
                    <div style="user-select: auto">
                      <p
                        class="specifications_content_title__AIHkZ"
                        style="user-select: auto"
                      >
                        Memory
                      </p>
                      <p style="user-select: auto">8 GB</p>
                    </div>
                    <div style="user-select: auto">
                      <p
                        class="specifications_content_title__AIHkZ"
                        style="user-select: auto"
                      >
                        Storage
                      </p>
                      <p style="user-select: auto">100 GB</p>
                    </div>
                    <div style="user-select: auto">
                      <p
                        class="specifications_content_title__AIHkZ"
                        style="user-select: auto"
                      >
                        Direct X
                      </p>
                      <p style="user-select: auto">12</p>
                    </div>
                    <div style="user-select: auto">
                      <p
                        class="specifications_content_title__AIHkZ"
                        style="user-select: auto"
                      >
                        Graphics
                      </p>
                      <p style="user-select: auto">
                        AMD Radeon RX 560, Nvidia GeForce GTX 1050 Ti
                      </p>
                    </div>
                  </div>
                  <div
                    class="specifications_recommended__2A5WY"
                    style="user-select: auto"
                  >
                    <p
                      class="specifications_details_heading__2vCTB"
                      style="user-select: auto"
                    >
                      Recommended
                    </p>
                    <div style="user-select: auto">
                      <p
                        class="specifications_content_title__AIHkZ"
                        style="user-select: auto"
                      >
                        OS
                      </p>
                      <p style="user-select: auto">64-bit Windows 10</p>
                    </div>
                    <div style="user-select: auto">
                      <p
                        class="specifications_content_title__AIHkZ"
                        style="user-select: auto"
                      >
                        Processor
                      </p>
                      <p style="user-select: auto">
                        AMD Ryzen 5 1600, Core i5 6600K
                      </p>
                    </div>
                    <div style="user-select: auto">
                      <p
                        class="specifications_content_title__AIHkZ"
                        style="user-select: auto"
                      >
                        Memory
                      </p>
                      <p style="user-select: auto">16 GB</p>
                    </div>
                    <div style="user-select: auto">
                      <p
                        class="specifications_content_title__AIHkZ"
                        style="user-select: auto"
                      >
                        Storage
                      </p>
                      <p style="user-select: auto">100 GB + 37 GB HD</p>
                    </div>
                    <div style="user-select: auto">
                      <p
                        class="specifications_content_title__AIHkZ"
                        style="user-select: auto"
                      >
                        Direct X
                      </p>
                      <p style="user-select: auto">12</p>
                    </div>
                    <div style="user-select: auto">
                      <p
                        class="specifications_content_title__AIHkZ"
                        style="user-select: auto"
                      >
                        Graphics
                      </p>
                      <p style="user-select: auto">
                        AMD Radeon RX 560, Nvidia GeForce GTX 1050 Ti
                      </p>
                    </div>
                  </div>
                </div>
                <div
                  class="specifications_lang_div__kf15j"
                  style="user-select: auto"
                >
                  <p style="user-select: auto">Languages Supported</p>
                  <div
                    class="specifications_lang__vqsu9"
                    style="user-select: auto"
                  >
                    <div
                      class="specifications_audio__1Yz20"
                      style="user-select: auto"
                    >
                      <p
                        class="specifications_lang_heading__Valfh"
                        style="user-select: auto"
                      >
                        Audio
                      </p>
                      <div
                        class="specifications_languages__1x_ak"
                        style="user-select: auto"
                      >
                        <p style="user-select: auto">English</p>
                        <p style="user-select: auto">Portuguese</p>
                        <p style="user-select: auto">French</p>
                        <p style="user-select: auto">Chinese</p>
                        <p style="user-select: auto">Spanish</p>
                        <p style="user-select: auto">Russian</p>
                        <p style="user-select: auto">Polish</p>
                        <p style="user-select: auto">German</p>
                        <p style="user-select: auto">Japanese</p>
                        <p style="user-select: auto">Italian</p>
                      </div>
                    </div>
                    <div
                      class="specifications_text__1w0RE"
                      style="user-select: auto"
                    >
                      <p
                        class="specifications_lang_heading__Valfh"
                        style="font-size: 12px; user-select: auto"
                      >
                        Text
                      </p>
                      <div
                        class="specifications_languages__1x_ak"
                        style="user-select: auto"
                      >
                        <p style="user-select: auto">English</p>
                        <p style="user-select: auto">Portuguese</p>
                        <p style="user-select: auto">French</p>
                        <p style="user-select: auto">Chinese</p>
                        <p style="user-select: auto">Spanish</p>
                        <p style="user-select: auto">Russian</p>
                        <p style="user-select: auto">Polish</p>
                        <p style="user-select: auto">German</p>
                        <p style="user-select: auto">Japanese</p>
                        <p style="user-select: auto">Italian</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div
                  class="specifications_terms__3TdTi"
                  style="user-select: auto"
                >
                  <p style="user-select: auto">
                    CONDITIONS AND RESTRICTIONS APPLY.
                  </p>
                  <div
                    class="specifications_info__ZFOX0"
                    style="user-select: auto"
                  >
                    <p style="user-select: auto">
                      SEE
                      <a
                        href="https://www.epicgames.com/store/en-US/p/"
                        rel="noreferrer"
                        style="user-select: auto"
                      >
                        EPIC GAMES </a
                      >FOR DETAILS. NO WEAPON, VEHICLE OR GEAR MANUFACTURER IS
                      AFFILIATED WITH OR HAS SPONSORED OR ENDORSED THIS data.
                    </p>
                  </div>
                </div>
              </div>
            </div> -->
          </div>










          <div class="gameCard_payment__1BG6y" style="user-select: auto">
            <div class="paymentCard_main__2Pp-a" style="user-select: auto">
              <div class="paymentCard_logo__1CoBW" style="user-select: auto">
                
                
                
                <% if(data.logo){ %>
             
                    <img src="<%= data.url%><%= data.logo%>" alt="<%= data.title %>" style="user-select: auto">
                  <% } else if(data.thumbnail) { %>  
                    <img src="<%= data.url%><%= data.thumbnail%>" alt="<%= data.title %>" style="user-select: auto">
                 <% } else{ %>

                  <img src="https://t4.ftcdn.net/jpg/04/00/24/31/360_F_400243185_BOxON3h9avMUX10RsDkt3pJ8iQx72kS3.jpg" alt="<%= data.title %>" style="user-select: auto">
             
                  <% }  %>
                
                
                
                
                
                
                
                

              </div>
              
              <div class="phone-title fontcolor">
              <h1 class="h1 detail-title">
                <%= data.title %> <strong>!</strong>
              </h1>
              <p class="detail-subtitle fontcolor">
                <a href="/store/<%= data.developer %>">
                BY <%= data.developer %>
              </a>
              </p>
</div>
              <div class="paymentCard_upper__2l_pQ" style="user-select: auto">
              
                <div class="paymentCard_price__t4qq9" style="user-select: auto">
                  <!-- <div
                    class="price-component_price__3s8s1"
                    style="user-select: auto"
                  >
                  <% if(data.price.discount){ %>
                    <div
                    class="price-component_blue_button__13OKH"
                    style="user-select: auto"
                  >
                    -<%= data.price.discount %>%
                  </div>
                  <% } else{ %>  
                   
                 <% } %>
                 <% if(data.price.mainPrice){ %>
                  <div
                  class="price-component_prev_price__2Pdz0"
                  style="user-select: auto"
                >
                  ₹ <%= data.price.mainPrice %>
                </div>
                <% } else{ %>  
                  
               <% } %>
               <% if( data.price.discountedPrice ){ %>
          <div
          class="price-component_disounted_price__2aQkW"
                      style="user-select: auto"
                    >
                      ₹ <%= data.price.discountedPrice %>
                    </div>
              <% } else{ %>  
                
             <% } %>
                   
                  </div> -->
                </div>
              </div>


           
                <script>
                   var Id ="<%= data.id %>"
                </script>
       
           
              <script>
                console.log('hello world')
              
                // console.log("Id: " + Id);
                 let data = {gameId: Id};
              
let addtocart = async()=>{
  elem = document.getElementById("addtocart");
  elem.innerHTML = "Adding... plz wait";
await fetch("/user/add-cart", {
  method: "POST",
  headers: {'Content-Type': 'application/json'}, 
  body: JSON.stringify(data)
}).then((response) => {

  elem.innerHTML = "Added to Cart";

});
}
let ownitnow= async()=>{
   elem = document.getElementById("ownitnow");
  elem.innerHTML = "Adding... plz wait";
await fetch("/user/add-library", {
  method: "POST",
  headers: {'Content-Type': 'application/json'}, 
  body: JSON.stringify(data)
}).then((response) => {

  elem.innerHTML = "Added to Library";

});
}
              </script>





              <div
                class="paymentCard_game_info__2C1-O"
                style="user-select: auto"
              >
                <div
                  class="paymentCard_game_details__2FcP4"
                  style="user-select: auto"
                >
                  <p style="user-select: auto">Developer</p>
                  <div
                    class="paymentCard_title__1oePf"
                    style="user-select: auto"
                  >
                  <a href="/store/<%= data.developer %>">
                    <p style="user-select: auto"><%= data.developer %></p>
                    </a>
                  </div>
                </div>
                <div
                  class="paymentCard_game_details__2FcP4"
                  style="user-select: auto"
                >
                  <p style="user-select: auto">Downloads</p>
                  <div
                    class="paymentCard_title__1oePf"
                    style="user-select: auto"
                  >
                    <p style="user-select: auto"><%= data.downloadno %></p> 
                  </div>
                </div>
                <div
                  class="paymentCard_game_details__2FcP4"
                  style="user-select: auto"
                >
                  <p style="user-select: auto">Release Date</p>
                  <div
                    class="paymentCard_title__1oePf"
                    style="user-select: auto"
                  >
                    <p style="user-select: auto">
                    
                        <%= data.date.getDate() %>-<%=  data.date.getMonth()+1%>- <%=  data.date.getYear() - 100%>
                    
                    </p>
                  </div>
                </div>
                <div
                  class="paymentCard_game_details__2FcP4"
                  style="user-select: auto"
                >
                  <p style="user-select: auto">Platform
                  
                  
                  
                  
                 
                    
                  
                  
                  
                  
                  
                  
                  
                  </p>
                  <div
                    class="paymentCard_title__1oePf"
                    style="user-select: auto"
                  >
                
                  <%=data.platform%>(<%
                  if(data.platform == "windows"){
                    %> <i class='bx bxl-windows'></i><%
                  }else if(data.platform == "Mac"){
                    %><i class='bx bxl-apple' ></i><%
                  }else if(data.platform == "Android"){
                    %><i class='bx bxl-android' ></i><%
                  }else if(data.platform == "IOS"){
                    %><i class='bx bxl-apple' ></i><%
                  }else if(data.platform == "LINUX"){
                    %><i class='bx bxs-cube'></i><%
                  }else if(data.platform == "files"){
                    %><i class='bx bx-file'></i><%
                  }


                  %>)
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include('include/_side_footer'); %>

<%- include('include/_app_footer'); %>





<style>
  /* margin: 0px;
    padding: 0px;
    list-style-type: none;
    transition: all 250ms ease-in-out 0s;
    display: flex;
    -webkit-box-pack: start;
    justify-content: flex-start;
    width: 200%; */
    .corousel{

    }
    .splide__track{
      border-radius: 8px;

    }
    #thumbnail-slider{
      margin: 20px;
    }
    .splide__slide{
      border-radius: 8px;
    }
    .splide__track--nav>.splide__list>.splide__slide.is-active {
    border: 3px solid var(--whii);
}
</style>



<script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/js/splide.min.js"></script>
<script>


var main = new Splide( '#main-slider', {
  type       : 'fade',
  heightRatio: 0.5,
  pagination : false,
  arrows     : false,
  cover      : true,
} );

var thumbnails = new Splide( '#thumbnail-slider', {
  rewind          : true,
  fixedWidth      : 104,
  fixedHeight     : 58,
  isNavigation    : true,
  gap             : 10,
  focus           : 'center',
  pagination      : false,
  cover           : true,
  dragMinThreshold: {
    mouse: 4,
    touch: 10,
  },
  breakpoints : {
    640: {
      fixedWidth  : 66,
      fixedHeight : 38,
    },
  },
} );

main.sync( thumbnails );
main.mount();
thumbnails.mount();
  </script>