
<%- include('include/_side_header') %>


<link rel="stylesheet" href="/assets/css/loader.css">



</div>



  <main>
    <article>

      <!-- 
        - #MOVIE DETAIL
      -->

      <section class="movie-detail">
        <div class="container">

            <figure class="library-box">  
  
              
            </figure>
  
            <div class="library-detail-content">
  
              <p class="detail-subtitle"> your Favourate games in </p>
  
              <h1 class="h1 detail-title">
                Your <strong>Cart</strong>
              </h1>
  <div class="textcolor" style="
  color: var(--white);
  
">


<style>
  .noresult{
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
  }
</style>


<% if(data.length==0) { %>

  <div class="noresult">
  <img style="width: max-content;"
  src="/assets/images/emptycart.png"
  alt="">

  <p class="fontcolor">Your Cart is empty start shopping now
  <h3 style="color: rgba(123, 113, 113, 0.785);">

      </>
      </p>

    </div>
      <% } %>



        <ul class="movies-list">


          <% for(var i=0; i < data.length; i++) { %>
<!-- <%= data[i]%> -->
            <li>
              <div class="movie-card">

                <a href="/app/<%= data[i]._id %>">
                  <figure class="card-banner">
                    <% if(data[i].thumbnail){ %>
                      <img src="<%= url %>/<%= data[i].thumbnail %>" alt="<%= data[i].title %>">

                      <% } else if(data[i].logo){ %>
                        <img src="<%= url %>/<%= data[i].logo %>" alt="<%= data[i].title %>">

                        <% } else{ %>

                          <img src="/assets/images/no-img.webp" alt="<%= data[i].title %>">

                          <% } %>






                  </figure>
                </a>

                <div class="title-wrapper" >
                  <a id="text" href="./movie-details.html">
                    <h3 class="card-title">
                       <%=data[i].title%> 
                    </h3>
                  </a>
                
                  <button onclick="removefromcart('<%=data[i]._id%>')">
                    <i class='bx bx-message-square-x' style="
                    font-size: 25px;
                    color: white;
                "></i>
                  </button>
                </div>













                <div class="card-meta">

                
                  <div class="duration">


                  </div>

                  <div class="rating">

                  </div>
                </div>

              </div>
            </li>

            <% } %>






        </ul>



        <script>
          let removefromcart = async (x)=>{
            let data = {gameId: x};
            await fetch("/user/remove-cart", {
          method: "POST",
          headers: {'Content-Type': 'application/json'}, 
          body: JSON.stringify(data)
        }).then((response) => {
          // console.log(response);
           window.location.reload();
        });
          }
        </script>
        
</p>             
            </div>
            </div>
  
          </div>
      </section>





      <!-- 
        - #TV SERIES
      -->


    </article>
  </main>






  <!-- 
    - #GO TO TOP
  -->

  <a href="#top" class="go-top" data-go-top>
    <ion-icon name="chevron-up"></ion-icon>
  </a>



  <script src="/assets/js/script.js"></script>

 
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>



<%- include('include/_side_footer') %>
