

<%- include('include/_side_header') %>

<main>
  <article>

    <!-- 
      - #MOVIE DETAIL
    -->

    <section class="movie-detail fontcolor">
      <div class="container">

          <figure class="movie-detail-banner">

            

            

          </figure>

          <div class="movie-detail-content">

            <p class="detail-subtitle"> <%= user.name %>'s Account Update</p>

            <h1 class="h1 detail-title">
              Update <strong>details</strong>
            </h1>

        
            <form method="POST" id="update_use" action="/editaccount/<%= user.id %>" enctype="multipart/form-data">
              <div class="new_user">
                <div class="form-group">
                  <label for="title" class="text-light">userName</label>
                  <input type="text" name="title" value="<%= user.name %>" placeholder="title..." />
                </div>
                <% if(error !== '') { %>
                  <div class="" style="color: red;"><%=error  %> </div>
                  <% } %> 
                
        
                <div class="form-group">
                  <label for="desctiption" class="text-light">About</label>
                  <textarea type="text" name="about" value="<%= user.about %>" placeholder="desc..." cols="20" rows="5"><%=user.about %></textarea>
                </div>
             




                <div class="form-group">
                  <label for="desctiption" class="text-light">UserImg / Profile Pic</label>
                  <input type="file" name="userimg" onchange="getImagePreview1(event)" />
            
                  <div id="preview1">
                    <img id="temp1" src="<%= url%><%= user.userimg %>" alt="">
                  </div>
                </div>



                <div class="form-group">
                  <label for="desctiption" class="text-light">UserBg / Background banner</label>
                  <input type="file" name="userbg" onchange="getImagePreview2(event)" />
                  <%= user.userbg %>
                  <div id="preview2">
                    <img id="temp2" src="<%= url%><%= user.userbg %>" alt="">
                  </div>
                </div>








        
                <div class="form-group">
                  <button type="submit" class="btn2 text-dark update">Save</button>
                </div>
              </div>
          </form>
            

          

          </div>

        </div>
    </section>





    <!-- 
      - #TV SERIES
    -->


  </article>
</main>






<!-- 
  - #GO TO TOP
-->

<a href="#top" class="go-top" data-go-top>
  <ion-icon name="chevron-up"></ion-icon>
</a>





<!-- 
  - custom js link
-->
<script src="/assets/js/script.js"></script>

<!-- 
  - ionicon link
-->
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>



<style>
  
input,textarea {
  width: 100%;
  padding: 0.6em 1em;
  padding-top: 0.6em;
  padding-right: 1em;
  padding-bottom: 0.6em;
  padding-left: 1em;
  margin: 0.5em 0;
  border: 1px solid var(--border);
  font-family: 'Barlow', sans-serif;
  font-size: 1em;
  border-radius: 0.2em;
box-sizing: border-box;
}
textarea{
resize: vertical;
}

img{
  display: block;
  position: relative;
  max-width: 100%;
  max-height: 215px;
  margin: auto;
  border-radius: 14px;
}
.btn2{
  width: 100%;
  padding: .9em 1em;
  background-color:#16db93; 
  border: none;
  font-family: 'PT Sans', sans-serif;
  font-size: 1em;
  cursor: pointer;
  border-radius: .2em;
  margin: .5em 0;
}


</style>
<script>
  
function getImagePreview0(event) {
 let image = URL.createObjectURL(event.target.files[0])
let imagediv = document.getElementById('preview0');
let newimg = document.createElement('img');
newimg.src = image; 
imagediv.appendChild(newimg);
}
function getImagePreview1(event) {

 let image = URL.createObjectURL(event.target.files[0])
let imagediv = document.getElementById('preview1');

let image_x = document.getElementById('temp1');
image_x.parentNode.removeChild(image_x);


let newimg = document.createElement('img');
newimg.src = image;
newimg.id = "temp1"; 
imagediv.appendChild(newimg);
}
function getImagePreview2(event) {

let imagediv = document.getElementById('preview2');








//deleting files
const elements = document.getElementsByClassName("temp2");
  while(elements.length > 0){
      elements[0].parentNode.removeChild(elements[0]);
  }







for (let i = 0;i < event.target.files.length;i++) {
let image = URL.createObjectURL(event.target.files[i])



let newimg = document.createElement('img');
newimg.src = image; 
newimg.className = "temp2";
imagediv.appendChild(newimg);


}
}


function getImagePreview3(event) {
 let image = URL.createObjectURL(event.target.files[0])
let imagediv = document.getElementById('preview3');
let image_x = document.getElementById('temp3');
image_x.parentNode.removeChild(image_x);
let newimg = document.createElement('img');
newimg.src = image; 
newimg.src = 'temp3'
imagediv.appendChild(newimg);
}

</script>





<%- include('include/_side_footer') %>



<!-- oveflow erro -->


<style>
form{
  overflow: hidden;
}
</style>



