<link rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/css/themes/splide-default.min.css">
<article>


  <style>
    .title {
      color: var(--white);
      font-size: var(--fs-7);
      transition: var(--transition-1);
    }
  </style>

  <!-- 
    - #HERO
  -->
<!-- recently viewed -->


  <section class="splide" id="splidetop" aria-label="Splide Basic HTML Example">
    <div class="splide__track">
      <ul class="splide__list fontcolor">
        <% for(let i=0; i<8; i++) {%>
          <li class="splide__slide" style="width: 200px; height: 800px;">
            <div>
              <div class="game ">

                <!-- <a href="/app/<%=post3[i]._id.$oid%>"> -->
                <!-- @ ye wala link rakhna hai -->
                  <!-- <a href="/"> -->
                  <div class="img-box">
                    <figure class="gamefig">
  
                      <% if(post3[i].thumbnail){ %>
                        <img loading="lazy" class="game-img" src="<%= post3[i].thumbnail %>" alt="<%= post3[i].title %>">

                        <% } else if(post3[i].logo){ %>
                          <img loading="lazy" class="game-img" src="<%= post3[i].logo %>" alt="<%= post3[i].title %>">

                          <% } else{ %>

                            <img loading="lazy" class="game-img" src="/assets/images/no-img.webp" alt="<%= post3[i].title %>">

                            <% } %>
                    </figure>


                  </div>
                <!-- </a> -->

                <!-- <div class="title-wrapper">
                  <a href="/app/<%=post3[i]._id.$oid%>" style="width:-webkit-fill-available;">
                    <h3 class="card-title truncate" style="margin:auto; width:100%">
                       <%=post3[i].title%> 
                    </h3>
                  </a>
                </div> -->

                <div class="card-meta">
                  <!-- <div class="sub-title truncate"></div> -->

                  <!-- <div class="price">$free</div> -->
                </div>

              </div>
            </div>
          </li>
          <% } %>
      </ul>
    </div>
  </section>


  
  <% if(recentViewed.length >= 5) { %>
    <section id="cardlist">
      <div class="container">
  
        <h2 class="h2 section-title fontcolor" style="
        text-align: left;margin-bottom: 20px;
    ">Recently visited</h2>
        <section class="splide" id="splideside3" aria-label="Splide Basic HTML Example">
          <div class="splide__track">
            <ul class="splide__list fontcolor">
              <% for(let i=recentViewed.length - 1; i>=0; i--) {%>
                <li class="splide__slide" style="width: 200px; height: 800px;">
                  <!-- <div>
                    <div class="game ">
  
  
                        <div class="img-box">
                          <figure class="gamefig">
        
                            <% if(recentViewed[i].thumbnail){ %>
                              <img loading="lazy" class="game-img" src="https://hero.us-southeast-1.linodeobjects.com/<%= recentViewed[i].thumbnail %>" alt="<%= recentViewed[i].title %>">
    
                              <% } else if(post2[i].logo){ %>
                                <img loading="lazy" class="game-img" src="https://hero.us-southeast-1.linodeobjects.com//<%= post2[i].logo %>" alt="<%= post2[i].title %>">
    
                                <% } else{ %>
    
                                  <img loading="lazy" class="game-img" src="/assets/images/no-img.webp" alt="<%= post2[i].title %>">
    
                                  <% } %>
                          </figure>
  
  
                        </div>
                      </a>
  
                      <div class="title-wrapper">
                        <a href="/app/<%=post2[i]._id%>" style="width:-webkit-fill-available;">
                          <h3 class="card-title truncate">
                            <%=post2[i].title%>
                          </h3>
                        </a>
                      </div>
  
                      <div class="card-meta">
                         <div class="sub-title truncate"></div> 
  
                        <div class="price">$free</div>
                      </div>
  
                    </div>
                  </div> -->
                  <div class="movie-card">
  
                    <a href="/app/<%=recentViewed[i]._id%>">
                      <figure class="card-banner">
                        <!-- <img src="https://hero.us-southeast-1.linodeobjects.com/" alt="test3"> -->
  
  
  
                        <% if(recentViewed[i].thumbnail){ %>
                          <img loading="lazy" class="game-img"
                            src="https://hero.us-southeast-1.linodeobjects.com/<%= recentViewed[i].thumbnail %>"
                            alt="<%= recentViewed[i].title %>">
  
                          <% } else if(recentViewed[i].logo){ %>
                            <img loading="lazy" class="game-img"
                              src="https://hero.us-southeast-1.linodeobjects.com/<%= recentViewed[i].logo %>"
                              alt="<%= recentViewed[i].title %>">
  
                            <% } else{ %>
  
                              <img loading="lazy" class="game-img" src="/assets/images/no-img.webp"
                                alt="<%= recentViewed[i].title %>">
  
                              <% } %>
  
                      </figure>
                    </a>
  
                    <div class="title-wrapper">
                      <a href="/app/<%=recentViewed[i]._id%>">
                        <h3 class="card-title">
                          <%=recentViewed[i].title%>
                        </h3>
                      </a>
  
                      <time datetime="2022">2022</time>
                    </div>
                    <div class="card-meta">
                      <!-- <div class="badge ">free</div> -->
  
                      <div class="rating">
  
                      </div>
                    </div>
                  </div>
                </li>
                <% } %>
            </ul>
          </div>
        </section>
      </div>
    </section>
    <% } %>

  <section class="upcoming ">
    <div class="container">

      <div class="flex-wrapper">

        <div class="title-wrapper">
          <!-- <p class="section-subtitle">Online Streaming</p> -->

          <h2 class="h2 section-title fontcolor"> Apps & Games</h2>
        </div>

        <ul class="filter-list">


          <li>
            <!-- <button class="filter-btn">TV Shows</button> -->
            <button class="filter-btn">
              <a href="https://dev.playsite.store">
                Dashboard
              </a>
            </button>
          </li>


          <li>
            <!-- <button class="filter-btn">TV Shows</button> -->
            <button class="filter-btn">
              <a href="/store/<%= userdetails%>">
                profile
              </a>
            </button>
          </li>
          
          <li>
            <!-- <button class="filter-btn">TV Shows</button> -->
            <button class="filter-btn">
              <a href="/search">
                search
              </a>
            </button>
          </li>
                 
          <li>
            <!-- <button class="filter-btn">TV Shows</button> -->
            <button class="filter-btn">
              <a href="/3d">
                3D and AR
              </a>
            </button>
          </li>
          <li>
            <!-- <button class="filter-btn">TV Shows</button> -->
            <a href="/all">
            <button class="filter-btn">
      
              ALL
          
            </button>
          </a>
          </li>
        </ul>

      </div>
  
      <ul class="movies-list has-scrollbar">

        <% for (let i=0; i<4; i++) { %>
        
          <li>
            <div class="movie-card">

              <a href="/app/<%=post1[i]._id.$oid%>">
                <figure class="card-banner">
                  <!-- <img src="https://hero.us-southeast-1.linodeobjects.com/<%=post1[i].logo%>" alt="<%=post1[i].title%>"> -->
                     
                  <% if(post1[i].thumbnail){ %>
                    <img loading="lazy" class="game-img" src="https://hero.us-southeast-1.linodeobjects.com/<%= post1[i].thumbnail %>" alt="<%= post1[i].title %>">

                    <% } else if(post1[i].logo){ %>
                      <img loading="lazy" class="game-img" src="https://hero.us-southeast-1.linodeobjects.com/<%= post1[i].logo %>" alt="<%= post1[i].title %>">

                      <% } else{ %>

                        <img loading="lazy" class="game-img" src="/assets/images/no-img.webp" alt="<%= post1[i].title %>">

                        <% } %>
                </figure>
              </a>

              <div class="title-wrapper">
                <a href="/app/<%=post1[i]._id.$oid%>">
                  <h3 class="card-title">
                    <%=post1[i].title%>
                  </h3>
                </a>

                <time datetime="2022">2022</time>
              </div>
              <!-- <div class="card-meta">
              <div class="sub-title">Gearbox Software | 2K</div>
            
              <div class="price">$44.99</div>
            </div> -->
              <div class="card-meta">
                <div class="badge badge-outline">FREE</div>

                <div class="duration">
                  <!-- <ion-icon name="time-outline"></ion-icon> -->

                  <!-- <time datetime="PT126M">126 min</time> -->
                </div>

                <div class="rating">
                  <ion-icon name="star"></ion-icon>

                  <data>NR</data>
                </div>
              </div>
            </div>
          </li>
          <% } %>
      </ul>
    </div>
  </section>

  <section class="upcoming ">
    <div class="container">

      <!-- <div class="flex-wrapper">

        <div class="title-wrapper">
          

          <h2 class="h2 section-title">Upcoming Apps Games</h2>
        </div>

        <ul class="filter-list">

          <li>
            
            <button class="filter-btn">Apps</button>
          </li>

          <li>
            
            <button class="filter-btn">Games</button>
          </li>

          <li>
            
            <button class="filter-btn">More</button>
          </li>

        </ul>

      </div> -->

      <ul class="movies-list has-scrollbar">

        <% for (let i=4; i<8; i++) { %>
          <li>
            <div class="movie-card">

              <a href="/app/<%=post1[i]._id.$oid%>">
                <figure class="card-banner">
                  <!-- <img src="https://hero.us-southeast-1.linodeobjects.com/<%=post1[i].logo%>" alt="<%=post1[i].title%>"> -->
                      
                  <% if(post1[i].thumbnail){ %>
                    <img loading="lazy" class="game-img" src="https://hero.us-southeast-1.linodeobjects.com/<%= post1[i].thumbnail %>" alt="<%= post1[i].title %>">

                    <% } else if(post1[i].logo){ %>
                      <img loading="lazy" class="game-img" src="https://hero.us-southeast-1.linodeobjects.com//<%= post1[i].logo %>" alt="<%= post1[i].title %>">

                      <% } else{ %>

                        <img loading="lazy" class="game-img" src="/assets/images/no-img.webp" alt="<%= post1[i].title %>">

                        <% } %>
                </figure>
              </a>

              <div class="title-wrapper">
                <a href="/app/<%=post1[i]._id.$oid%>">
                  <h3 class="card-title">
                    <%=post1[i].title%>
                  </h3>
                </a>

                <time datetime="2022">2022</time>
              </div>
              <!-- <div class="card-meta">
                            <div class="sub-title">Gearbox Software | 2K</div>
                          
                            <div class="price">$44.99</div>
                          </div> -->
              <div class="card-meta">
                <div class="badge badge-outline">FREE</div>

                <div class="duration">
                  <!-- <ion-icon name="time-outline"></ion-icon> -->

                  <!-- <time datetime="PT126M">126 min</time> -->
                </div>

                <div class="rating">
                  <ion-icon name="star"></ion-icon>

                  <data>NR</data>
                </div>
              </div>
            </div>
          </li>
          <% } %>
      </ul>

    </div>
  </section>






  <!-- Featured -->

  <section class="top-rated">
    <div class="container">

  

      <h2 class="h2 section-title fontcolor" style="
      text-align: left;
  ">New Apps and Games</h2>

      <!-- <ul class="filter-list">

        <li>
        
          <button class="filter-btn">Apps</button>
        </li>

        <li>
        
          <button class="filter-btn">Games</button>
        </li>

        <li>
          
          <button class="filter-btn">Software</button>
        </li>

      </ul> -->

      <ul class="movies-list movies-list-small ">

        <% for(let i=0; i<10; i++) { %>

          <li>
            <div class="movie-card">

              <a href="/app/<%=post2[i]._id%>">
                <figure class="card-banner">
                  <!-- <img src="https://hero.us-southeast-1.linodeobjects.com/<%=post2[i].logo%>" alt="<%=post2[i].title%>"> -->
                      
                  <% if(post2[i].thumbnail){ %>
                    <img loading="lazy" class="game-img" src="https://hero.us-southeast-1.linodeobjects.com/<%= post2[i].thumbnail %>" alt="<%= post2[i].title %>">

                    <% } else if(post2[i].logo){ %>
                      <img loading="lazy" class="game-img" src="https://hero.us-southeast-1.linodeobjects.com/<%= post2[i].logo %>" alt="<%= post2[i].title %>">

                      <% } else{ %>

                        <img loading="lazy" class="game-img" src="/assets/images/no-img.webp" alt="<%= post2[i].title %>">

                        <% } %>
                </figure>
              </a>

              <div class="title-wrapper">
                <a href="/app/<%=post2[i]._id%>">
                  <h3 class="card-title">
                    <%=post2[i].title%>
                  </h3>
                </a>

                <time datetime="2022"> 2022</time>
              </div>
              <div class="card-meta">
                <!-- <div class="badge badge-outline">4K</div> -->

                <div class="rating">
                  <!-- <ion-icon name="star"></ion-icon> -->
                </div>
              </div>
            </div>
          </li>
          <% } %>
      </ul>

    </div>
  </section>


  <section class="top-rated">
    <div class="container">

  

      <h2 class="h2 section-title fontcolor" style="
      text-align: left;
  ">Latest Releases</h2>

      <!-- <ul class="filter-list">

        <li>
        
          <button class="filter-btn">Apps</button>
        </li>

        <li>
        
          <button class="filter-btn">Games</button>
        </li>

        <li>
          
          <button class="filter-btn">Software</button>
        </li>

      </ul> -->

      <ul class="movies-list movies-list-small ">

        <% for(let i=0; i<10; i++) { %>

          <li>
            <div class="movie-card">

              <a href="/app/<%=post4[i]._id%>">
                <figure class="card-banner">
                  <!-- <img src="https://hero.us-southeast-1.linodeobjects.com/<%=post2[i].logo%>" alt="<%=post2[i].title%>"> -->
                      
                  <% if(post4[i].thumbnail){ %>
                    <img loading="lazy" class="game-img" src="https://hero.us-southeast-1.linodeobjects.com/<%= post4[i].thumbnail %>" alt="<%= post4[i].title %>">

                    <% } else if(post4[i].logo){ %>
                      <img loading="lazy" class="game-img" src="https://hero.us-southeast-1.linodeobjects.com/<%= post4[i].logo %>" alt="<%= post4[i].title %>">

                      <% } else{ %>

                        <img loading="lazy" class="game-img" src="/assets/images/no-img.webp" alt="<%= post4[i].title %>">

                        <% } %>
                </figure>
              </a>

              <div class="title-wrapper">
                <a href="/app/<%=post2[i]._id%>">
                  <h3 class="card-title">
                    <%=post4[i].title%>
                  </h3>
                </a>

                <time datetime="2022"> 2022</time>
              </div>
              <div class="card-meta">
                <!-- <div class="badge badge-outline">4K</div> -->

                <div class="rating">
                  <!-- <ion-icon name="star"></ion-icon> -->
                </div>
              </div>
            </div>
          </li>
          <% } %>
      </ul>

    </div>
  </section>

  <!--  -->

  <section id="cardlist">
    <div class="container">
    
      <h2 class="h2 section-title fontcolor" style="
      text-align: left;margin-bottom: 20px;
  ">Most Popular</h2>
      <section class="splide" id="splideside2" aria-label="Splide Basic HTML Example">
        <div class="splide__track">
          <ul class="splide__list fontcolor">
            <% for(let i=10; i<25; i++) {%>
              <li class="splide__slide" style="width: 200px; height: 800px;">
               <div class="movie-card">

                  <a href="/app/<%=post2[i]._id%>">
                    <figure class="card-banner">
                    <% if(post2[i].thumbnail){ %>
                        <img loading="lazy" class="game-img" src="https://hero.us-southeast-1.linodeobjects.com/<%= post2[i].thumbnail %>" alt="<%= post2[i].title %>">

                        <% } else if(post2[i].logo){ %>
                          <img loading="lazy" class="game-img" src="https://hero.us-southeast-1.linodeobjects.com/<%= post2[i].logo %>" alt="<%= post2[i].title %>">

                          <% } else{ %>

                            <img loading="lazy" class="game-img" src="/assets/images/no-img.webp" alt="<%= post2[i].title %>">

                            <% } %>
                            
                    </figure>
                  </a>
<!--     
                  <div class="title-wrapper">
                    <a href="/app/<%=post2[i]._id%>">
                      <h3 class="card-title">
                        <%=post2[i].title%>
                      </h3>
                    </a>
    
                    <time datetime="2022">2022</time>
                  </div>
                  <div class="card-meta">
                
    
                    <div class="rating">
                
                    </div>
                  </div> -->

                  <div class="py-4"><div class="truncate mb-0.5">
                    <h3 class="card-title">  <%=post2[i].title%></h3>
                  </div>
                  <!-- <div class="text-white/50">2022</div> -->
                </div>
<div class="flex items-center justify-between" style="font-size: 16px;">
  <!-- <div class="px-2 py-1 rounded bg-epic-blue text-xxs">new</div> -->
  <div class="flex flex-col items-end text-xs">
    <!-- <div class="line-through text-white/60">IDR 200.500</div> -->
  <!-- <div  style="font-size: 16px;">₹2,321.44</div> -->
  <div  style="font-size: 16px;">Free</div>
</div></div>

                </div>
              </li>
              <% } %>
          </ul>
        </div>
      </section>
    </div>
  </section>










  <!-- <section class="list2 fontcolor">

    <div class="FreeGames_freegames__2nxXx">
      <div class="FreeGames_flexheader__2Zh7b">
        <h1><i class='bx bxs-radiation'></i>Free Games</h1><a href="#!" class="FreeGames_btnOutline__3F9aj">VIEW
          MORE</a>
      </div>
      <div class="FreeGames_flex__MSdFL">
        <a href="#!" class="FreeGames_game__3dAg8 FreeGames_freenow__3tTBs">
          <div class="FreeGames_gameimg__omIWF"><img
              src="https://cdn1.epicgames.com/salesEvent/salesEvent/Landscape%20-%20Apr%2029_2560x1440-557c79e2df74001427d21f75da99e87e?h=480&amp;resize=1&amp;w=854"
              alt="game"></div>
          <div class="FreeGames_flextext__3KaTD">
            <h4>Idle Champions of the Forgotten Realms</h4>Free Now
          </div>
        </a>
        <a href="#!" class="FreeGames_game__3dAg8">
          <div class="FreeGames_gameimg__omIWF"><img
              src="https://cdn1.epicgames.com/salesEvent/salesEvent/Landscape%20-%20Apr%2029_2560x1440-557c79e2df74001427d21f75da99e87e?h=480&amp;resize=1&amp;w=854"
              alt="game"></div>
          <div class="FreeGames_flextext__3KaTD">
            <h4>Idle Champions of the Forgotten Realms</h4>Free Now
          </div>
        </a>
        <a href="#!" class="FreeGames_game__3dAg8">
          <div class="FreeGames_gameimg__omIWF"><img
              src="https://cdn1.epicgames.com/salesEvent/salesEvent/Landscape%20-%20Apr%2029_2560x1440-557c79e2df74001427d21f75da99e87e?h=480&amp;resize=1&amp;w=854"
              alt="game"></div>
          <div class="FreeGames_flextext__3KaTD">
            <h4>Idle Champions of the Forgotten Realms</h4>Free Now
          </div>
        </a>
      </div>
    </div>

  </section> -->
  <section id="after-party">
    <div class="container-box">
      <h3 class="main-title">Hosting with Playsite</h3>
      <div class="main-content" style="
         background-color: #0d0461
      ">
        <div class="prim-content">
          <h1 class="game-title">Playsite Hosting</h1>
          <h2 class="details">
            Host your website for free with playsite. no login, no signup, no card details, just one github link, and bring your website live with playsite
           
          </h2>
          <button class="outnow-btn">
            <a href="/host">
            Host now
          </a></button>
        </div>
        <div class="graphic-content hosting" style="
         background-image: url('https://www.codetez.com/wp-content/uploads/2021/04/best-dedicated-server-hosting.jpg');

        "></div>
      </div>
    </div>
  </section>



  <section id="after-party">
    <div class="container-box">
      <h3 class="main-title">Afterparty</h3>
      <div class="main-content">
        <div class="prim-content">
          <h1 class="game-title">Afterparty</h1>
          <h2 class="details">
            Party your way through the afterlife and out-drink Satan to get
            back to Earth. Bottoms up!
          </h2>
          <button class="outnow-btn">OUT NOW</button>
        </div>
        <div class="graphic-content"></div>
      </div>
    </div>
  </section>


   <section class="cardlistimg">
    <div class="">
      <div class="games">
        <div class="game">
          <div class="img-box">
            <img loading="lazy" class="game-img"
              src="https://cdn1.epicgames.com/epic/offer/EGS_Launcher_Fortnite_11BR_S2-1280x1440-7f86ba3d9ce5bf6c957e627613d8ce06.jpg?h=854&amp;resize=1&amp;w=640"
              alt="game-pic">
          </div>

        </div>
        <div class="game">
          <div class="img-box">
            <img class="game-img"
              src="https://cdn1.epicgames.com/epic/offer/EN_EGS_Launcher_Takeover_Borderlands_S2-1280x1440-4e2e8a65b68229dc833cf5c4773f23c4.jpg?h=854&amp;resize=1&amp;w=640"
              alt="game-pic">
          </div>


        </div>
        <div class="game">
          <div class="img-box">
            <img class="game-img"
              src="https://cdn1.epicgames.com/undefined/offer/EGS_RockstarGames_RedDeadRedemption2_S2-1280x1440-43b9260015986b748e616f399c6de4dc.jpg?h=854&amp;resize=1&amp;w=640"
              alt="game-pic">
          </div>


        </div>
        <div class="game">
          <div class="img-box">
            <img class="game-img"
              src="https://cdn1.epicgames.com/epic/offer/ANC_Banner_TOW_NoLogo_1280x1440 (2)-1280x1140-5b445a5bbd0ba31cc63cbcb373ccfaa0.jpg?h=854&amp;resize=1&amp;w=640"
              alt="game-pic">
          </div>


        </div>
        <div class="game">
          <div class="img-box">
            <img class="game-img"
              src="https://cdn1.epicgames.com/epic/offer/Dauntless_portrait-807x913-6bcb0ec70d9d5a0ac88931efe4f1834a.jpg?h=854&amp;resize=1&amp;w=640"
              alt="game-pic">
          </div>


        </div>
      </div>
    </div>
  </section> 





  <style>


.py-4 {
    padding-top: 0.1rem;
    padding-bottom: 1rem;
}
.justify-between {
    justify-content: space-between;
}
.items-center {
    align-items: center;
}
.flex {
    display: flex;
}
.truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.text-white\/50 {
    color: rgba(226, 223, 219, 0.5);
}
.text-white\/50 {
    color: #f5f5f580;
}
.bg-epic-blue {
 
    background-color: rgb(0, 100, 202);
}
.text-xxs {
    font-size: .65rem;
}
.py-1 {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}
.px-2 {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}
.bg-epic-blue {
    --tw-bg-opacity: 1;
    background-color: rgba(0,125,252,1);
}
.rounded {
    border-radius: 0.25rem;
}
.line-through {
    text-decoration-color: initial;
}

.text-white\/60 {
    color: rgba(226, 223, 219, 0.6);
}
.line-through {
    text-decoration: line-through;
}
.text-white\/60 {
    color: #f5f5f599;
}
.text-xs {
    font-size: .75rem;
    line-height: 1rem;
}
.items-end {
    align-items: flex-end;
}
.flex-col {
    flex-direction: column;
}
.flex {
    display: flex;
}



















    .graphic-content {
      border-radius: 8px;

    }




    .game-img {

      position: absolute;
      width: auto;
      height: 100%;
      left: 50%;
      transform: translate(-50%);
    }

    .gamefig:hover {
      background: hsla(0, 0%, 100%, 0.05);
    }

    #most-pop .container {
      max-width: 1100px;
      margin: auto;
    }

    .sec-title {
      margin: 0 0 15px 0;
    }

    .games {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      grid-gap: 15px;
    }

    .game {
      max-height: 500px;
      /* max-width: 200px; */
      overflow: hidden;
    }

    .img-box {
      position: relative;
      height: 300px;
      margin: 0 0 10px 0;
    }

    .sub-title {
      color: hsla(0, 0%, 100%, 0.5);
      margin: 0 0 5px 0;
      font-weight: bold;
      font-size: 10px
    }

    .price {
      font-weight: bold;
    }

    .cardlistimg {
      display: none;
    }

    @media (max-width: 900px) {
      .cardlistimg {
      display: block;
    }
    }


    .nottomobile{
      display: block;
    }
    @media (max-width: 900px) {
      .nottomobile{
      display: none;
    }
    }
  </style>


















  <style>
    #after-party .container-box {
      color: #fff;
      /* max-width: 1100px; */
      margin: 0 auto 100px auto;
    }

    #after-party .container-box .main-title {
      margin: 0 0 15px 0;
    }

    #after-party .container-box .main-content {
      background: rgb(70, 4, 97);
      display: grid;
      grid-template-columns: 40% 60%;
      position: relative;
      border-radius: 8px;
    }

    #after-party .container-box .main-content .prim-content {
      margin: 100px 0 100px 60px;
    }

    #after-party .container-box .main-content .graphic-content {
      background-image: url('https://cdn2.unrealengine.com/Diesel%2Fproductv2%2Fafterparty%2Fhome%2FAfterparty_BreakerImage_1280x956-%282%29-1280x956-2bd551179b9268ebfcecefb48c22e6222fd69130.png?h=720&resize=1&w=1280');
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }

    #after-party .container-box .main-content .prim-content .game-title {
      font-size: 55px;
      margin: 0 0 15px 0;
      font-weight: 200;
    }

    #after-party .container-box .main-content .prim-content .details {
      color: hsla(0, 0%, 100%, 0.5);
      width: 90%;
      margin: 0 0 20px 0;
    }

    @media (max-width: 1330px) {
      #after-party .container-box {
        padding: 0 30px;
      }
    }

    @media (max-width: 1000px) {
      #after-party .container-box .main-content {
        grid-template-columns: 100%;
      }

      #after-party .container-box .main-content .graphic-content {
        width: 100%;
        height: 600px;
      }
    }

    @media (max-width: 900px) {
      #after-party .container-box .main-content .graphic-content {
        height: 500px;
      }

      #after-party .container-box .main-content .prim-content {
        margin: 20px 0 20px 30px;
      }
    }

    @media (max-width: 800px) {
      #after-party .container-box .main-content .graphic-content {
        height: 400px;
      }
    }

    @media (max-width: 700px) {
      #after-party .container-box .main-content .graphic-content {
        height: 350px;
      }

      #after-party .container-box .main-content .prim-content {
        margin: 40px 0 40px 30px;
      }

      #after-party .container-box .main-content .prim-content .game-title {
        font-size: 30px;
        margin: 0 0 8px 0;
      }

      #after-party .container-box .main-content .prim-content .details {
        font-size: 15px;
        width: 95%;
        margin: 0 0 20px 0;
      }
    }

    @media (max-width: 600px) {
      #after-party .container-box .main-content .graphic-content {
        height: 300px;
      }

      #after-party .container-box .main-content .prim-content .outnow-btn {
        padding: 10px 20px;
        color: #fff;
        background-color: hsla(0, 0%, 95.7%, 0.2);
        border: none;
        font-size: 8px;
      }
    }

    @media (max-width: 500px) {
      #after-party .container-box .main-content .graphic-content {
        height: 250px;
      }

      #after-party .container-box .main-content .prim-content {
        margin: 20px 0 20px 30px;
      }
    }

    @media (max-width: 400px) {
      #after-party .container-box .main-content .graphic-content {
        height: 200px;
      }
    }
  </style>















  <style>
    .list2 {
      margin-top: 10px;
      margin-bottom: 10px;
    }

    .FreeGames_freegames__2nxXx {
      background-image: initial;
      background-color: rgb(32, 34, 36);
    }

    .FreeGames_freegames__2nxXx {
      background: #2a2a2a;
      padding: 2em 3em;
      border-radius: 5px;
    }

    .FreeGames_flex__MSdFL {
      display: -webkit-flex;
      display: flex;
      -webkit-flex-direction: row;
      flex-direction: row;
      width: 100%;
      grid-gap: 1.5em;
      gap: 1.5em;
    }

    .FreeGames_freegames__2nxXx img {
      border-radius: 5px;
      width: 100%;
      height: auto;
    }

    .FreeGames_flexheader__2Zh7b {
      display: -webkit-flex;
      display: flex;
      -webkit-align-items: center;
      align-items: center;
      -webkit-justify-content: space-between;
      justify-content: space-between;
      margin-bottom: 1.5em;
    }

    .FreeGames_btnOutline__3F9aj {
      text-decoration-color: initial;
      color: rgb(232, 230, 227);
      border: 1px solid var(--darkreader-border--color3);
    }

    .FreeGames_btnOutline__3F9aj {
      text-decoration: none;
      color: #fff;
      font-weight: 700;
      border: 1px solid var(--color3);
      padding: 0.6em 1.2em;
      font-size: .8rem;
      border-radius: 5px;
      transition: .2s;
    }

    .FreeGames_freegames__2nxXx svg {
      -webkit-filter: invert(0);
      filter: invert(0);
      -webkit-transform: scale(1.7);
      transform: scale(1.7);
      width: 2rem;
      margin-right: 0.5em;
    }

    .Sidebar_sidebar__2p-1y .Sidebar_icon__FAtGQ {
      width: 20px;
      height: 20px;
      -webkit-filter: invert(70%);
      filter: invert(70%);
    }
  </style>



  <!-- 
    - #CTA
  -->


</article>



<%- include('include/_tags_scroll.ejs') %>

<script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/js/splide.min.js"></script>
<script
  src="https://cdn.jsdelivr.net/npm/@splidejs/splide-extension-grid@0.4.1/dist/js/splide-extension-grid.min.js"></script>
<script>

  // You need to transpile this code






  let splidetop = new Splide( '#splidetop', {
    perPage: 1,
    gap: '15px',
  type   : 'loop',
  padding: '5rem',
  autoplay: true,
} );

splidetop.mount();


  // let splide1 = new Splide('#splideside1', {
  //   perPage: 5,
  //   rewind: true,
  //   gap: '15px',
  //   arrows: false,
  //   pagination: false,
  //   autoWidth: true,
  //   omitEnd: true,
  // });
    let splide2 = new Splide('#splideside2', {
      perPage: 5,
      rewind: true,
      gap: '15px',
      arrows: false,
      pagination: false,
      autoWidth: true,
      omitEnd: true,

    });
   splide2.mount();




   let splide3 = new Splide('#splideside3', {
      perPage: 5,
      rewind: true,
      gap: '15px',
      arrows: false,
      pagination: false,
      autoWidth: true,
      omitEnd: true,

    });
   splide3.mount();
  // splide1.mount();




















</script>
<style>
  .truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
</style>



<style>
  @media (min-width: 1200px){
.movies-list {
    grid-template-columns: repeat(6, 1fr);
}
  }
  .movies-list.has-scrollbar {
 display: grid;
    justify-content: flex-start;
    gap: 30px;
    overflow-x: auto;
    scroll-snap-type: inline mandatory;
    padding-bottom: 25px;
}
</style>
<style>
  @media (min-width: 1200px){
.movies-list {
    grid-template-columns: repeat(5, 2fr);
}
}
@media (min-width: 992px) and (max-width:1200px){
.movies-list {
    grid-template-columns: repeat(4, 1fr);
}
}


@media (min-width: 1200px){
.movies-list-small {
    grid-template-columns: repeat(6, 2fr);
}
}
@media (min-width: 992px) and (max-width:1200px){
.movies-list-small {
    grid-template-columns: repeat(4, 1fr);
}
}

.img-box{
  height: 40vw;
  border-radius: 10px;
}

.game {
    max-height: 500px;
    /* max-width: 200px; */
    overflow: hidden;
}
@media (max-width: 550px){
.splide{
  margin-top: 123px;

}
}
</style>
