<% try{%>
  <% userdetails  = userdetails%>
<% }catch(error){%>
<% userdetails = "user"%>
  <% }%>

  <% try{%>
    <% title = title%>
  <% }catch(error){%>
  <% title = "Playsite Store"%>
    <% }%>

  <% try{%>
    <% headimg = headimg %>
  <% }catch(error){%>
  <% headimg = "https://playsite.store/assets/images/meta.png" %>
    <% }%>

  <% try{%>
    <% headdesc = headdesc%>
  <% }catch(error){%>
  <% headdesc = "Download from thousands of apps and games with playsite. or publish anything you can imagine with playsite for free. free game downloading website -playsite.store: try it for free"%>
    <% }%>

    <% try{%>
      <% headtags = headtags%>
    <% }catch(error){%>
    <% headtags = "Playsite Store official"%>
      <% }%>
  


<!DOCTYPE html>
<html lang="en">

<head>
<!-- Google tag (gtag.js) -->

<script async src="https://www.googletagmanager.com/gtag/js?id=G-8QBDWDHG3D"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-8QBDWDHG3D');
</script>






<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta charset="utf-8" />
<link rel="canonical" href="https://playsite.store/">
<meta name="theme-color" content="#0095b6" />
<meta property=“og:type” content=“website” />
<link rel="icon" type="image/x-icon" href="/assets/images/favicon.ico">
<link rel="manifest" href="www.playsite.store/manifest.json" />
<meta name="language" content="en" />
<meta name="twitter:card" content="playsite" />
<!-- <meta name="twitter:image" content="https://playsite.store/assets/images/logo-red.png" /> -->
<meta name="twitter:description" content="
<%= headdesc %>
" />
<meta   name="twitter:title"  content="
PlaySite Store: Game Store, Web Host | Easy Setup | 3D model viewer | web tools
" />
<meta property="og:url" content="https://www.playsite.store/" />
<meta property=“og:site_name” content="Playsite Store : Game store" />

<meta property=“og:image:alt” content="playsite" />
<meta property=“og:image:secure_url” content="https://playsite.store/assets/images/logo.png" />
<meta property=“og:image:type” content=“image/jpeg” />
<meta property=“og:locale” content=“en_GB” />




<meta property="og:image" content="<%= headimg %>" />
<meta property=“og:image” itemprop="image" content="    <%= headimg %>" />
<meta name="description" content=" <%= headdesc %>" />
<meta property="og:title" content="<%= title %>" />
<meta property="og:description" content="<%= headdesc %>" />
<meta name="keywords" content="Playsite, playsite.store, playsite store,free games download, explore games,<%= headtags %>" />
<title>
  <%= title %>
</title>


















    <link rel="icon" type="image/x-icon" href="/assets/images/favicon.ico">
    <!-- 
    - custom css link
  -->
    <link rel="stylesheet" href="/assets/css/stylef.css">

    <!-- 
    - google font link
  -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css" rel="stylesheet">
  </head>

  <body id="#top" class="shrink">

    <!-- 
    - #HEADER
  -->







    <!-- <div id="google_translate_element"></div> -->




    <link rel="stylesheet" href="/assets/css/dark.css">

    <script src="/assets/css/dark.js"></script>



    <style>
      .headerheight {
        height: 56px;

      }


      @media screen and (min-width: 840px) {
        .headerheight {
          height: 64px;
        }
      }


      @media (min-width: 992px) {
        .header.active {
          padding-block: 1px;
        }
      }

      .header.active {
        box-shadow: 0 1px 4px hsl(0deg 4% 15% / 10%);
        padding-block: 0px;
      }

      .header {
        padding-block: 5px;
      }
    </style>
























































    <link rel="stylesheet" href="/assets/css/side.css">





    <nav class="sidenav" style="z-index: 95;  max-height: 100vh;">
      <div class="sidebar-top">
        <span class="shrink-btn">
          <i class='bx bx-chevron-left'></i>
        </span>
        <img src="/assets/images/logo.png" class="logo" alt="">
        <h3 class="hide">Playsite</h3>
      </div>
<style>
  .extraspace{
    display: none;
  }
  @media (max-height: 700px) {
    .extraspace{
      margin-top: 10px;
    display: block;
  }
  .heightwala{
    display: none;
  }
    }


</style>

      <div class="extraspace"></div>

      <div class="search heightwala">
        <a href="/search">
          <i class='bx bx-search'></i>
          <!-- <input type="text" class="hide" placeholder="Quick Search ..."> -->
        </a>
      </div>

  <div class="sidebar-links">
    <ul>
      <div class="active-tab"></div>
      <li class="tooltip-element" data-tooltip="0">
        <a href="/" class="active" data-active="0">
          <div class="icon">
            <i class='bx bx-home'></i>
            <i class='bx bxs-home'></i>
          </div>
          <span class="link hide">HOME</span>
        </a>
      </li>
      <li class="tooltip-element" data-tooltip="1">
        <a href="/search" data-active="1">
          <div class="icon">
            <i class='bx bx-search'></i>
            <i class='bx bxs-search'></i>
          </div>
          <span class="link hide">Search</span>
        </a>
      </li>
      <li class="tooltip-element" data-tooltip="2">
        <a href="/cart" data-active="2">
          <div class="icon">
            <i class='bx bx-cart-alt'></i>
            <i class='bx bxs-cart-alt'></i>
          </div>
          <span class="link hide">Cart</span>
        </a>
      </li>
      <li class="tooltip-element" data-tooltip="3">
        <a href="/library" data-active="3">
          <div class="icon">
            <i class='bx bx-library'></i>
            <i class='bx bxs-library'></i>
          </div>
          <span class="link hide">Library</span>
        </a>
      </li>
     
      <div class="tooltip">
        <span class="show">HOME</span>
        <span>search</span>
        <span>Cart</span>
        <span>Library</span>
      </div>
    </ul>

        <h4 class="hide">Shortcuts</h4>

    <ul>
      <li class="tooltip-element" data-tooltip="0">
        <a href="/all" data-active="4">
          <div class="icon">
            <i class='bx bx-analyse'></i>
            <i class='bx bxs-analyse'></i>
          </div>
          <span class="link hide">All Tools</span>
        </a>
      </li>
      <li class="tooltip-element" data-tooltip="1">
        <a href="#" data-active="5" class="theme-toggle" id="" title="Toggles light & dark">
          <div class="icon">
           
            <!-- <button class="theme-toggle" id="" title="Toggles light & dark" >   -->
              <i class='bx bx-sun'></i>
              
              <i class='bx bxs-sun '></i>
            <!-- </button> -->
    
          </div>
          <span class="link hide">theme</span>
        </a>
      </li>
      <li class="tooltip-element" data-tooltip="2">
        <a href="http://dev.playsite.store" data-active="6">
          <div class="icon">
            <i class='bx bxs-skull'></i>
            <i class='bx bxs-skull'></i>
          </div>
          <span class="link hide">upload</span>
        </a>
      </li>
      <div class="tooltip">
        <span class="show">All Tools</span>
        <span>theme</span>
        <span>Upload</span>
      </div>
    </ul>
  </div>

      <div class="sidebar-footer">
      
        <% if(userdetails != ""){ %>
          <a href="/store/<%= userdetails.name %>" class="account tooltip-element" data-tooltip="0">
            <i class='bx bx-user'></i>
          </a>
          <% }else{ %>
          
        
     
            <a href="/auth" class="account tooltip-element" data-tooltip="0">
              <i class='bx bx-user'></i>
            </a>
            <% }%>
        <div class="admin-user tooltip-element" data-tooltip="1">
          <div class="admin-profile hide">
            <img src="/assets/images/face-1.png" alt="">
            <div class="admin-info">
              <% if(userdetails == ""){ %>
              <h3>login Now</h3>
              <h5>User</h5>
            </div>
          </div>

            <a href="/auth" class="log-out">
              <i class='bx bx-pencil' ></i>
            </a>
          </div>
          <div class="tooltip">
            <span class="show"> Login Now</span>
            <span>Create account</span>
          </div>
            <% }else{ %>
              <h3><%= userdetails.name %></h3>
              <h5>User</h5>
            </div>
          </div>
              <a href="/editaccount" class="log-out">
                <i class='bx bx-pencil' ></i>
              </a>
            </div>
            <div class="tooltip">
              <span class="show">  <%= userdetails.name %></span>
              <span>edit account</span>
            </div>
              <% }%>

      </div>
    </nav>

    <header class="header topnav" data-header>
      <div class="container headerheight">

        <div class="overlay" data-overlay></div>

        <a href="/" class="logo">
      <div class="footer-logo">
        
            <img src="/assets/images/logo-red.png" class="logofooter" alt="" style="
        width: 2.4rem;
    ">
        <h3 class="fontcolor" style="
        font-size: 25px;
    ">Playsite</h3>
      </div>
        </a>

        <div class="header-actions">

          <button class="search-btn">
            <a href="/search">
              <ion-icon name="search-outline"></ion-icon>
            </a>
          </button>




          <div class="lang-wrapper">
            <label for="theme">
              <i class='bx bx-sun'></i>

              <i class='bx bxs-sun '></i>


            </label>


          </div>









          <script src="https://code.iconify.design/iconify-icon/1.0.2/iconify-icon.min.js"></script>











      <button class="btn btn-primary">
        <a href="http://dev.playsite.store">
       Upload
      </a>
      </button>

        </div>
        <div id="search-span" style="
      column-gap: 1rem;
  ">
          <button class="search-bt">
            <a href="/search">
              <ion-icon name="search-outline"></ion-icon>
            </a>
          </button>

          <button class="search-bt">
            <% if(userdetails != ""){ %>
              <a href="/store/<%= userdetails.name %>">
                <ion-icon name="person-circle-outline"></ion-icon>
              </a>
              <% }else{ %>
              
            
                <a href="/auth">
                  <ion-icon name="person-circle-outline"></ion-icon>
                </a>
                <% }%>

          </button>

        
          <button class="search-bt">
            <a href="/cart">
              
            <ion-icon name="bag-handle-outline"></ion-icon>
            </a>
          </button>



          <button class="menu-open-btn search-bt" data-menu-open-btn>
            <ion-icon name="grid-outline"></ion-icon>
          </button>
        </div>
        <style>
          @media (min-width: 768px) {


            .search-bt {
              display: none;
            }
          }

          .search-bt {
            color: var(--white);
            /* font-size: 30px; */
            font-size: 1.25rem;
          }

          #search-span {
            display: block;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            align-content: center;
            justify-content: center;
            align-items: center;
          }
        </style>








        <nav class="navbar" data-navbar>

          <div class="navbar-top">

        <a href="/" class="logo">
          <div class="footer-logo">
        
            <img src="/assets/images/logo-red.png" class="logofooter" alt="" style="
            width: 2.4rem;
        ">
            <h3 class="fontcolor" style="
            font-size: 25px;
        ">Playsite</h3>
          </div>
        </a>

            <button class="menu-close-btn" data-menu-close-btn>
              <ion-icon name="close-outline"></ion-icon>
            </button>

          </div>

          <ul class="navbar-list fontcolor">
            <li>
              <a class="navbar-link">
                <button class="theme-toggle " id="theme-toggle" title="Toggles light & dark" aria-label="auto"
                aria-live="polite">
                Theme:<ion-icon name="sunny-outline"></ion-icon>
       
                <!-- <i class='bx bxs-sun '></i> -->
              </button>
              </a>

            </li>
            <li>
              <a href="/all" class="navbar-link">All Tools</a>
            </li>
            <li>
              <a href="/" class="navbar-link">Home</a>
            </li>

            <li>
              <a href="/cart" class="navbar-link">Cart</a>
            </li>

            <li>
              <a href="/library" class="navbar-link">Library</a>
            </li>

        <li>
          <a href="/search" class="navbar-link">Browse</a>
        </li>
        <li>
     
        </li>
        <li>
          <a href="http://dev.playsite.store" class="navbar-link">UPLOAD</a>
        </li>
      </ul>

          <ul class="navbar-social-list">

            <li>
              <a href="#" class="navbar-social-link">
                <ion-icon name="logo-twitter"></ion-icon>
              </a>
            </li>

            <li>
              <a href="#" class="navbar-social-link">
                <ion-icon name="logo-facebook"></ion-icon>
              </a>
            </li>

            <li>
              <a href="#" class="navbar-social-link">
                <ion-icon name="logo-pinterest"></ion-icon>
              </a>
            </li>

            <li>
              <a href="#" class="navbar-social-link">
                <ion-icon name="logo-instagram"></ion-icon>
              </a>
            </li>

            <li>
              <a href="#" class="navbar-social-link">
                <ion-icon name="logo-youtube"></ion-icon>
              </a>
            </li>

          </ul>

        </nav>

      </div>
    </header>

    <span class="main2">


      <style>
        .main2 {
          overflow: hidden;
        }

        .topnav {
          display: none;
          --size: 0px;
        }

        @media (max-width: 550px) {
          .topnav {
            display: block;
          }

          .sidenav {
            display: none;
          }

          .main2 {
            width: 100%;
            padding: 0rem;
          }

        }


        .theme-toggle{
          aspect-ratio: 0;
    display: flex;
    align-items: center;
        }
      </style>
